	
	<li #if ($item.type == "N" || $item.type == "FNI") itemscope itemtype="https://schema.org/NewsArticle" #end >

		#set($itemUrl = $item.url) 				
		#if ($item.type == ('F'))
            #set($itemUrl = $urlBuilder.getFeedUrl($item))
		#end
		
		<h5 #if ($item.type == "N" || $item.type == "FNI") itemprop="headline" #end><a href="$itemUrl">$item.name</a></h5>
							
		<ul>
			#if ($item.date && ($item.type == "N" || $item.type == "FNI" || $item.type == "S") && $dateFormatter)
				<li class="date"><time datetime="$dateFormatter.isoDate($item.date)">$dateFormatter.dayMonthYear($item.date)</time></li>
			#end

			#if ($item.publisherName)
				<li class="publisher" itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><a href="/$item.publisherUrlWords" itemprop="url"><span itemprop="name">$item.publisherName</span></a></li>
			#end
						
			#if ($item.latestItemDate)
				<li>Latest Item: $dateFormatter.dayMonthYear($item.latestItemDate)</li>				
			#end
			#if (($item.type == 'L' || $item.type == 'F') && $item.lastChanged && !$item.latestItemDate)
				<li>Last Changed: $dateFormatter.timeSince($item.lastChanged)</li>
			#end
				
			#if ($item.description) 
				<li>$item.description</li>
			#end
						
			#if ($item.bodytext) 			
				#foreach($snippet in $item.bodytext)
					<li class="bodytext">$snippet</li>
				#end
			#end

			#if ($item.frontendImage) 
				<p><a href="$item.url"><img src="$item.frontendImage.url" border="0"></a></p>
			#end
			
			#if ($item.image) 
				<p><a href="$item.url"><img src="$item.image.url" border="0"></a></p>
			#end

			#if ($item.type == ('F'))
				#if ($item.lastRead)
					<li class="lastread">Last Read: $dateFormatter.timeSince($item.lastRead)</li>
				#end				
					#if ($item.acceptancePolicy)
						<li class="acceptance">$item.acceptancePolicy</li>
						#if ($item.acceptanceErrors && $item.acceptanceErrors.size() > 0)
                            <ul>
                            #foreach($error in $item.acceptanceErrors)
                                <li>$error</li>
                            #end
                            </ul>
                        #end
					#end
				#end				
			#end
									
			#if ($item.type == 'W') 
				#set ($newsitemCount = $publisherNewsitemCountService.getNewsitemCount($item.name))
				#if ($newsitemCount> 0) 
					<li><a href="$urlBuilder.getPublisherUrl($item.name)">#showItemCount($newsitemCount "newsitem")</a></li>
				#end
				
				#if ($item.feeds && $item.feeds.size() > 0) 
					#if($item.feeds.size() == 1)
						#set ($feed = $item.feeds.iterator().next())					
						<li><a href="$urlBuilder.getFeedUrl($feed)">1 feed</a></li>
					#else
						<li><a href="$urlBuilder.getPublisherUrl($item.name)">#showItemCount($item.feeds.size() "feed")</a></li>
					#end
				#end
			#end
						
			#if ($item.type == "N" && $item.accepted)
				<li>
				    #parse('includes/accepted_details.vm')
				</li>
			#else
			    #if ($item.owner)
                    <li>
                        Submitted by <a href="$urlBuilder.getProfileUrlFromProfileName($item.owner)">$item.owner</a>
                    </li>
			    #end
			#end
			
            #if($item.taggingStatus)
                <li class="tagged" rel="noindex"><a href="$urlBuilder.getLocalPageUrl($item)">$item.taggingStatus</a></li>
                #foreach ($tag in $item.taggingsToShow)
                    <li class="tagged"><a href="$urlBuilder.getTagUrl($tag)">$tag.name.toLowerCase()</a></li>
                #end
            #end

			#if ($item.suggestion && $item.suggestion.firstSeen) 
				<li class="firstseen">First noticed $dateFormatter.timeSince($item.suggestion.firstSeen)</li>				
			#end
					
			#if ($item.geocode)
                #set($geocode = $item.geocode)
                #parse("includes/geocode.vm")
            #end

			#if ($item.owner && $item.owner.profilename && !$item.owner.isAdmin()) 	
				<li>Submitted by: <a href="$urlBuilder.getProfileUrl($item.owner)">$item.owner.profilename</a></li>
			#end

			#parse("includes/content_element_admin_links.vm")

            <ul>
            #foreach($action in $item.actions)
                <li class="admin"><a href="$action.link">$action.label</a></li>
            #end
            </ul>
		</ul>
	</li>
	<br clear="all">
