#if($item.httpStatus)
    <li>Http Status: $item.httpStatus</li>
#end

#if ($editPermissionService.canCheck($item) && ($item.type != "FNI"))
    #if ($item.isHeld())
        <li>Held</li>
    #end
#end
