#if($discovered_feeds && $discovered_feeds.size() > 0) 

<div class="box">
<h2>Discovered Feeds</h2>

<p>The following feed urls have been automagically discovered.</p>

<p>Your mileage may vary. Might be useful; might not be.</p>

<ul>
#foreach($discovered_feed in $discovered_feeds)
    <li>
        <ul>
            <li>$discovered_feed.url</li>
            <li>Found on $discovered_feed.referencedFrom</li>
            <li>Seen $discovered_feed.seen</li>
        </ul>
    </li>
#end

#if ($discovered_feeds_moreurl) 
		<li class="more"><a href="$siteInformation.url/$discovered_feeds_moreurl">More...</a></li>
#end

</ul>
</div>

#end