#if ($featured && $featured.size() > 0)
	<div class="box">
		<h2>$site_information.areaname Links</h2>

		<p>We use and recommend the following.</p>

		#set ($righthand_content_one = $columnSplitter.left($featured))
		#set ($righthand_content_two = $columnSplitter.right($featured))
		#parse("includes/righthand_two_columns.vm")
	</div>
#end
