<br clear="all">
<hr>
#parse("includes/analytics.vm")

#if ($geocoded) 
<script type="text/javascript">
	var map = null;

    function initializeMap() {
     	map = L.map('map').setView([51.505, -0.09], 13);
     	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
	   	 attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
	    
	    var mapMarkers = [];
		markers.forEach(function(marker) {
			mapMarkers.push(L.marker([marker.lat, marker.long]).addTo(map).bindPopup("<h4>" + marker.title + "</h4>" + "<p"> + marker.description + "</p>"));
	    });
	    
	   	map.fitBounds(new L.featureGroup(mapMarkers).getBounds());
    }
	
	initializeMap();
	
</script>
#end

</body>
</html>
