<br clear="all">
<hr>
#parse("includes/analytics.vm")

#if ($geocoded) 
<script type="text/javascript">
	var map = null;

    function initializeMap() {
     	map = L.map('map').setView([51.505, -0.09], 13);
     	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
	   	 attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
	    
	    var mapMarkers = [];
		markers.forEach(function(marker) {
		    var description = "";
		    if (marker.description) {
		        description = "<p>" + marker.description + "</p>";
		    }
		    var popupContent = "<h3><a href=\"" + marker.url + "\">"+ marker.title + "</a></h3>" + description;
			mapMarkers.push(L.marker([marker.lat, marker.long]).addTo(map).bindPopup(popupContent));
	    });
	    
	   	map.fitBounds(new L.featureGroup(mapMarkers).getBounds());
    }
	
	initializeMap();
	
</script>
#end

</body>
</html>
