	<label for="title">Title:</label>
	<input name="title" class="title" value="$resource.getName()" />
	<br />
		
	<label for="url">Url:</label>
	<input name="url" id="url" class="url" value="$resource.url" />
	<br />