#if ($geocoded && $geocoded.size() > 0) 
<div class="box">
<h2>Geotagged</h2>
<div id="map" style="width: 250px; height: 260px"></div></a>
#parse("includes/geocodedjs.vm")

#if($tag) 
	<p><a href="$urlBuilder.getTagGeocodedUrl($tag)">More...</a></p>
#else

<p>Relevant news items are now geotagged with location information.</p>

<p><a href="$siteInformation.url/geotagged">More...</a></p>
#end
</div>
#end