<script>
	#foreach($item in $geocoded)
		showAddress($item.geocode.latLong.latitude, $item.geocode.latLong.longitude,
			"$escape.javascript($item.name)",
			"$escape.javascript($item.url)",
			"$escape.javascript($item.description)");
	#end
</script>