#parse("includes/showitemcount_macro.vm")
#parse("includes/rss_icon_macro.vm")
<html>
<head>
<title>$heading - ${siteInformation.sitename}</title>
#if ($description) 
	<meta name="description" content="$description">
#end

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="$urlBuilder.getStaticUrl('styles.css')">
<link rel="stylesheet" href="$urlBuilder.getStaticUrl('jquery-ui-1.8.23.custom.css')">

#if ($rss_url) 
<link rel="alternate" type="application/rss+xml" title="$rss_title" href="$rss_url">	
#end

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
<script
		src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
		integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
		crossorigin="anonymous"></script>

<script type="text/javascript" src="$urlBuilder.getStaticUrl('autocomplete.js')"></script>

<link rel="stylesheet" href="$urlBuilder.getStaticUrl('leaflet-0.7.7/leaflet.css')" />
<script src="$urlBuilder.getStaticUrl('leaflet-0.7.7/leaflet.js')"></script>

<script>
	var markers = [];
	 
 	function showAddress(lat, long, title, url, description, date) {
 		markers.push({lat: lat, long: long, title: title, url: url, description: description, date: date});
 	}
 	
 	function positionSuccess(position) {
		if (map) {
			location = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			document.location.href = 'geotagged?latitude=' + position.coords.latitude + '&longitude=' + position.coords.longitude;
      	}
	}

	function positionError(msg) {
		alert('Could not determine your position');
	}

	function nearMe() {
		if (navigator.geolocation) {
  			navigator.geolocation.getCurrentPosition(positionSuccess, positionError);
		} else {
  			error('Position is not supported by this browser');
		}
	}
		
</script>
</head>

<body>
