#parse("includes/showitemcount_macro.vm")
#parse("includes/rss_icon_macro.vm")
<html>
<head>
<title>$heading - ${siteInformation.sitename}</title>
#if ($description) 
	<meta name="description" content="$description">
#end

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="$urlBuilder.getStaticUrl('styles.css')">
<link rel="stylesheet" href="$urlBuilder.getStaticUrl('jquery-ui-1.8.23.custom.css')">

#if ($rss_url) 
<link rel="alternate" type="application/rss+xml" title="$rss_title" href="$rss_url">	
#end

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script type="text/javascript" src="$urlBuilder.getStaticUrl('autocomplete.js')"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>

<script>
	var markers = [];
	 
 	function showAddress(lat, long, title, url, description) {
 		markers.push({lat: lat, long: long, title: title, description: description});
 	}
 	
 	function positionSuccess(position) {
		if (map) {
			location = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			document.location.href = 'geotagged?latitude=' + position.coords.latitude + '&longitude=' + position.coords.longitude;
      	}
	}

	function positionError(msg) {
		alert('Could not determine your position');
	}

	function nearMe() {
		if (navigator.geolocation) {
  			navigator.geolocation.getCurrentPosition(positionSuccess, positionError);
		} else {
  			error('Position is not supported by this browser');
		}
	}
		
</script>
</head>

<body>
