#if ($latest_newsitems && $latest_newsitems.size() > 0)
	<h2>Latest Newsitems</h2>
	<p>The latest newslog items.</p>
	#set ($righthand_content_one = $columnSplitter.left($latest_newsitems))
	#set ($righthand_content_two = $columnSplitter.right($latest_newsitems))
	#set ($righthand_content_moreurl = "/#newslog")
	
	#parse("includes/righthand_two_columns.vm")
#end