#springBind("formObject.geocode")
<label for="${status.expression}">Geocode:</label>
<input id="geocode" name="${status.expression}" class="title" value="$!{status.value}" />
<br />

#springBind("formObject.selectedGeocode")
<label for="${status.expression}">Selected geocode:</label>
<input id="selectedGeocode" name="${status.expression}" class="title" value="$!{status.value}" />
<br />