#springBind("formObject.geocode")
<label for="${status.expression}">Geocode:</label>
<input id="geocode" name="${status.expression}" class="title" value="$!{status.value}" />
<span id="geocodeStatus"></span>
<br />

#springBind("formObject.osm")
<label for="${status.expression}">Selected geocode:</label>
<input id="osm" name="${status.expression}" class="title" value="$!{status.value}" type="hidden" />
<br />