<div class="nav">
	<ul>
		<li><b><a href="${urlBuilder.homeUri}">Wellynews</a></b></li>
		<li><a href="${urlBuilder.homeUri}#submit">Submit</a></li>
		<li><a href="$siteInformation.url/feeds">Feeds</a></li>
		<li><a href="$siteInformation.url/tags">Tags</a></li>
		<li><a href="$siteInformation.url/publishers">Publishers</a></li>
		<li><a href="$siteInformation.url/watchlist">Watchlist</a></li>
		<li><a href="$siteInformation.url/about">About</a></li>
		<li><a href="$siteInformation.url/api">API</a></li>
		<li><a href="$siteInformation.url/about#contact">Contact</a></li>
	</ul>
	<br/>
	#if ($featuredTags)
	<ul class="navtags">
		#foreach($featuredTag in $featuredTags)
		<li><a href="$urlBuilder.getTagUrl($featuredTag)">$featuredTag.displayName</a></li>
		#end
	</ul>
	#end
</div>