#if ($page_content.tags && $page_content.tags.size() > 0)
	<ul>
        <li class="tagged" rel="noindex">Tagged as:</li>
        #foreach ($tag in $page_content.tags)
            <li class="tagged"><a href="$urlBuilder.getTagUrl($tag)">$tag.name</a></li>
        #end
	</ul>
#end
