#if ($page_content.handTags && $page_content.handTags.size() > 0)
    <ul>
        <li class="tagged" rel="noindex">Tagged as:</li>
        #foreach ($tag in $page_content.handTags)
            <li class="tagged"><a href="$urlBuilder.getTagUrl($tag)">$tag.name</a></li>
        #end
    </ul>
#end