<form action="$siteInformation.url/search">
    <fieldset>
        <input name="q" #if ($search_keywords) value="$search_keywords" #end />
        <input type="submit" value="Search" />
        #if ($publisher)
                    <input type="checkbox" checked name="publisher" value="$publisher.urlWords">Just $publisher.name
                #end
        #if ($tag)
            <input type="checkbox" checked name="tag" value="$tag.name">Just $tag.displayName
        #end
    </fieldset>
</form>