#macro( showItemCount $itemCount $itemType )
	$itemCount #showPluralWord($itemCount $itemType)
#end

#macro( showPluralWord $itemCount $itemType )
	#if ($itemCount == 1)
        ${itemType}
	#else
	    ${itemType}s
	#end
#end

#macro( stripThePrefix $title) 
	$title.replaceFirst("The ", "")
#end
