<div class="signinstatus">
	<ul>
	#if ($loggedInUser)
		<li>Signed in as
            #if ($loggedInUser.getProfilename())
                <a href="$urlBuilder.getProfileUrl($loggedInUser)">$loggedInUser.getProfilename()</a>
            #else
                <a href="$urlBuilder.getProfileUrl()">new user with no profile name</a>
            #end
		</li>
		<li><a href="$siteInformation.url/logout">Sign out</a></li>
	#else
		<li><a href="$siteInformation.url/signin">Sign in</a></li>
	#end
	</ul>
</div>
