#if($suggestions && $suggestions.size() > 0) 

<div class="box">
<h2>Feed Inbox</h2>

<p>These items have been seen in a third party feed and are awaiting review.</p>
</p>

#set ($righthand_content_one = $columnSplitter.left($suggestions))
#set ($righthand_content_two = $columnSplitter.right($suggestions))
#set ($righthand_content_moreurl = "feeds/inbox")

#parse("includes/righthand_two_columns.vm")

</div>
#end