<h2>Tags</h2>

#macro( showNode $tagToRender )
	#set ($class = "selected")
	#if ($tag) 
		#if ($tagToRender.id == $tag.id || $tagToRender.isParentOf($tag)) 
			#set ($class="visable")
		#end
	#end
	
	<li>
	#if ($tag) 
		#if ($tag.id == $tagToRender.id) 
			<b>$tagToRender.displayName</b>
		#else
			<a href="$urlBuilder.getTagUrl($tagToRender)">$tagToRender.displayName</a>
		#end		
	#else
		<a href="$urlBuilder.getTagUrl($tagToRender)">$tagToRender.displayName</a>
	#end
	</li>
#end

<ul class="tagtree" rel="noindex">
#foreach($tree_tag in $top_level_tags)
    #showNode($tree_tag)
#end

<li><a href="$urlBuilder.tagsUrl">All Tags...</a></li>
</ul>