<div class="tag_header">
    #parse("includes/tag_heading.vm")

    #set($geocode = $tag.geocode)
    #parse("includes/geocode.vm")

    #parse("includes/tag_admin_links.vm")

    #if($tag.description)
        <p>$tag.description</p>
    #end

    #parse("includes/child_tags.vm")
</div>