#if($tag_archive_links)
    <div class="box">
        <h2>Archive</h2>
        <p>Newsitems tagged with $tag.displayName have been published during these months.<p>
        <ul>
            #foreach ($link in $tag_archive_links)
                <li><a href="$urlBuilder.getTagArchiveLinkUrl($link)">$dateFormatter.fullMonthYear($link.month)</a> ($link.count)</li>
            #end
        </ul>
    </div>
#end