#springBind("formObject.tags")
<label for="${status.expression}">Tags:</label>
<input id="tagName" name="tagName" class="title" value="" />
<input type="button" value="Add" id="addTag"/>
<select name="${status.expression}" id="tags" multiple >
    #foreach($tag in $tags)
        <option value="$tag.id" #if($status.actualValue.contains($tag.getBSONId())) SELECTED #end>$tag.displayName</option>
    #end
</select>
<ul id="tagList">
    #foreach($tag in $tags)
        #if($status.actualValue.contains($tag.getBSONId()))
            <li data-tag="$tag.id">$tag.displayName<span class="removeTag" data-tag="$tag.id">X</span></li>
        #end
    #end
</ul>
#foreach($error in $status.errorMessages)
    <div class="alert">$error</div>
#end
<br/>
