#if ($owned && $owned.size() > 0)
	
	<div class="box">
	<h2>Your Submissions</h2>

	#if ($loggedInUserFilter.getLoggedInUser().isUnlinkedAccount()) 		
		<p>
			You have submitted an item or made changes as an anonomous temporary user.
			If you'd like to keep ownership of these changes, 
			<a href="$urlBuilder.getProfileUrl($loggedInUserFilter.getLoggedInUser())">you can register using an OpenID</a>.
		</p>
		
	#end

	<p>You have submitted these items:</p>
	
	#set ($righthand_content_one = $columnSplitter.left($owned))
	#set ($righthand_content_two = $columnSplitter.right($owned))
	#set ($righthand_content_moreurl  = $owned_moreurl)

	#parse("includes/righthand_two_columns.vm")
	#set ($righthand_content_moreurl  = '')
		
</div>
	
#end
