Accepted from feed: <a href="$urlBuilder.getFeedUrl($item.feed)">$item.acceptedFromFeedName</a> 
#if ($item.accepted) at $dateFormatter.formatDate($item.accepted, 'd MMM yyyy') #end
#if ($item.acceptedBy) by $item.acceptedBy.profilename #end
