Accepted from <a href="$urlBuilder.getFeedUrlFromFeedName($item.acceptedFromFeedName)">$item.acceptedFromFeedName</a>
#if ($item.accepted) $dateFormatter.timeSince($item.accepted) #end
#if ($item.acceptedByProfilename) by <a href="$urlBuilder.getProfileUrlFromProfileName($item.acceptedByProfilename)">$item.acceptedByProfilename</a>#end
