#if ($commented_newsitems && $commented_newsitems.size() > 0) 
	<h2>Comment</h2>
	<p>These ${site_information.areaname} newsitems have been commented on.</p>
	<ul class="flat_list">
	#foreach ($item in $commented_newsitems)
		#parse("includes/content_element.vm")	
	#end

	#if ($commented_newsitems_moreurl)
		<li class="more"><a href="$commented_newsitems_moreurl">
		#if ($commented_newsitems_morecount) $commented_newsitems_morecount #end
		More...</a></li>
	#end
</ul>
#end
