#if ($commented_newsitems && $commented_newsitems.size() > 0)
<h2>Commented</h2>

<p>These recent newsitems have comments.</p>
<ul class="flat_list">
#foreach ($item in $commented_newsitems)	
	<li class="content_item">
	#parse("includes/content_element.vm")
	</li>
#end

#if ($commented_newsitems_moreurl)
	<li class="more"><a href="$commented_newsitems_moreurl">
	$commented_newsitems_morecount more commented...</a></li>
#end

</ul>
#end

