	
	<li>		
				
		#if ($item.image) 
			<img src="$item.image.url" align="right" vspace="10">
		#end
			
		#set($itemUrl = $item.url)
		#if ($item.type == ('F'))
			#set($itemUrl = $urlBuilder.getFeedUrl($item))
		#end
		<h5><a href="$itemUrl">$escape.html($item.name)</a></h5>
							
		<ul>
			#if ($item.date && ($item.type == "N" || $item.type == "FNI" || $item.type == "TNI" || $item.type == "S") && $dateFormatter)
				<li class="date">$dateFormatter.formatDate($item.date, 'd MMM yyyy')</li>
			#end
				
			#if ($item.publisherName)
				<li class="publisher">$item.publisherName</li>
			#end
						
			#if ($item.latestItemDate)
				<li>Latest Item: $dateFormatter.formatDate($item.latestItemDate, 'd MMM yyyy')</li>				
			#end
			#if (($item.type == 'L' || $item.type == 'F') && $item.lastChanged && !$item.latestItemDate)
				<li>Last Changed: $dateFormatter.formatDate($item.lastChanged, 'd MMM yyyy')</li>
			#end
				
			#if ($item.description) 
				<li>$escape.html($item.description)</li>
			#end
						
			#if ($item.bodytext) 			
				#foreach($snippet in $item.bodytext)
					<li class="bodytext">$escape.html($snippet)</li>
				#end
			#end
								
			#if ($item.type == ('F'))				
				#if ($item.lastRead)
					<li class="lastread">Last Read: $dateFormatter.timeSince($item.lastRead)</li>
				#end				
				#if ($editPermissionService.canEdit($item))
					#if ($item.acceptancePolicy)
						<li class="acceptance">$item.acceptancePolicy</li>
					#end						
																	
					#if ($item.acceptanceErrors && $item.acceptanceErrors.size() > 0)				
						<ul>
						#foreach($error in $item.acceptanceErrors)
							<li>$error</li>
						#end
						</ul>
					#end
				#end				
			#end
			
						
			#if ($item.type == 'W') 
				#set ($newsitemCount = $publisherNewsitemCountService.getNewsitemCount($item.name))
				#if ($newsitemCount> 0) 
					<li><a href="$urlBuilder.getPublisherUrl($item.name)">#showItemCount($newsitemCount "newsitem")</a></li>
				#end
				
				#if ($item.feeds && $item.feeds.size() > 0) 
					#if($item.feeds.size() == 1)
						#set ($feed = $item.feeds.iterator().next())					
						<li><a href="$urlBuilder.getFeedUrl($feed)">1 feed</a></li>
					#else
						<li><a href="$urlBuilder.getPublisherUrl($item.name)">#showItemCount($item.feeds.size() "feed")</a></li>
					#end
				#end
			#end
			
			
			#if ($item.type == "N" && $item.accepted) 
				<li>
				#parse('includes/accepted_details.vm')
				</li>
			#end
			
			#if ($item.handTags)
						
				#if ($item.handTags.size() > 0)
					<li class="tagged" rel="noindex"><a href="$urlBuilder.getTaggingUrl($item)">Tagged as</a>:</li>
					#foreach ($tag in $item.handTags)
						#if (!$tag.hidden)							
							<li class="tagged"><a href="$urlBuilder.getTagUrl($tag)">$tag.displayName.toLowerCase()</a></li>
						#end
					#end
					
				#else 
				
					#if ($item.tags && $item.tags.size() > 0)
						<li class="autotagged" rel="noindex"><a href="$urlBuilder.getTaggingUrl($item)">Automatically tagged as</a>:</li>					
						#foreach ($tag in $item.tags)
							#if (!$tag.hidden)
								<li class="autotagged"><a href="$urlBuilder.getTagUrl($tag)">$tag.displayName.toLowerCase()</a></li>
							#end
						#end
					#else
						<li class="tagged" rel="noindex"><a href="$urlBuilder.getTaggingUrl($item)">Not tagged</a></li>
					#end
															
				#end	
			#end
								
			#if ($item.comments && $item.comments.size() > 0) 
				<li class="commented">
				#if ($item.comments.size() > 0)
					#if ($item.publisher)
						<p>This <i>#stripThePrefix($item.publisher.name)</i> newsitem has #showItemCount($item.commentFeed.comments.size() "comment").</p>
					#else
						<p>This newsitem has #showItemCount($item.comments.size() "comment").</p>
					#end
					#parse("includes/comments_list.vm")						
					#if ($item.comments.size() <= 3)
						<p>You can add own comments <a href="$item.url">here</a>.</p>
					#else
						<p>You can view the remaining comments and submit your own <a href="$item.url">here</a>.</p>
					#end
						
				#else
					<p>This newsitem has comments enabled. You can add own comments <a href="$item.url">here</a>.</p>
				#end							
				</li>
			#end
				
			#if ($item.suggestion && $item.suggestion.firstSeen) 
				<li class="firstseen">First noticed $dateFormatter.timeSince($item.suggestion.firstSeen)</li>				
			#end
			
			#if ($item.geocode && $item.geocode.address)
				#if ($editPermissionService.canEdit($item)) 
					<li #if ($item.geocode.isValid()) class="geocode-valid" #else class="geocode-invalid" #end >
				#else 
					</li>
				#end
					
				#if ($item.geocode.isValid())
					#if ($item.id > 0) 
						<a href="$urlBuilder.getLocationUrlFor($item.geocode)">#parse("includes/geotag_icon.vm")</a>						
					#else
						#parse("includes/geotag_icon.vm")
					#end
				#else
					#parse("includes/geotag_icon.vm") 
				#end
					
				$item.geocode.address</li>
			#end
							
			#if ($item.owner && $item.owner.profilename && !$item.owner.isAdmin()) 	
				<li>Submitted by: <a href="$urlBuilder.getProfileUrl($item.owner)">$item.owner.profilename</a></li>
			#end
			
			#if ($item.type == "N" && $item.retweets && $item.retweets.size() > 0)
				<ul>
				#foreach ($twit in $item.retweets) 
					#parse("includes/twittermessage.vm")
				#end
				</ul>					
			#end
											
			#parse("includes/content_element_admin_links.vm")
			
		</ul>				
	</li>
	<br clear="all">