<script>
	#foreach($item in $geocoded)
		showAddress($item.place.latLong.latitude, $item.place.latLong.longitude,
			"$escape.javascript($item.title)",
			"$escape.javascript($item.url)",
			"$escape.javascript($item.description)");		
	#end	
</script>