<script>		
	#set($deduped = $googleMapCleaner.dedupe($geocoded))
	#foreach($item in $deduped)
		showAddress($item.place.latLong.latitude, $item.place.latLong.longitude,
			"$escape.javascript($item.name)",
			"$escape.javascript($item.url)",
			"$escape.javascript($item.description)");		
	#end	
</script>