#parse("includes/showitemcount_macro.vm")
#parse("includes/rss_icon_macro.vm")
<html>
<head>
<title>$heading - ${site_information.sitename}</title>
#if ($description) 
	<meta name="description" content="$description">
#end
<link rel="stylesheet" href="$urlBuilder.getStaticUrl('styles.css')">
#if ($rss_url) 
<link rel="alternate" type="application/rss+xml" title="$rss_title" href="$rss_url">	
#end

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>

<script type="text/javascript" src="http://localhost/autocomplete.js"></script>

#if ($geocoded) 
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=$site_information.googleMapsApiKey" type="text/javascript"></script>
<script type="text/javascript">

    var map = null;
    var geocoder = null;

    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        
        #if ($selected || $geotags_is_small) 
	        map.setCenter(new GLatLng(-41.19, 174.95), 14);
        #else
    	    map.setCenter(new GLatLng(-41.19, 174.95), 12);        
		#end
	        
        #if (!$geotags_is_small)
	        map.addControl(new GSmallMapControl());        	
        #end
      }
    }

    function showAddress(lat, long, title, url, description) {
      	var point = new GLatLng(lat, long); 
       	var marker = new GMarker(point);
       	   	
     	GEvent.addListener(marker, "click", function() {
       		marker.openInfoWindowHtml("<a href=\"" + url + "\">" + title + "</a>" + "<p>" + description + "</p>");
      	});
    
      	map.addOverlay(marker);
	}
	
	function positionSuccess(position) {
		if (map) {
			location = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			document.location.href = 'geotagged?latitude=' + position.coords.latitude + '&longitude=' + position.coords.longitude;
      	}
	}

	function positionError(msg) {
		alert('Could not determine your position');
	}

	function nearMe() {
		if (navigator.geolocation) {
  			navigator.geolocation.getCurrentPosition(positionSuccess, positionError);
		} else {
  			error('Position is not supported by this browser');
		}
	}
</script>
#end
</head>

<body 
#if ($geocoded)
onunload="GUnload()"
#end
>