#if ($main_content_total > 30) 
	<hr>
		#set($pagenumber = 1)
		
		<ul class="pagelinks">
			#foreach ($pagenumber in [1..$max_page_number])				
				#if ($pagenumber > 1)
					<li #if($page && $pagenumber == $page) class="currentpage" #end ><a href="$urlBuilder.getGeotaggedUrl()?location=$location.address&page=$pagenumber">$pagenumber</a></li>
				#else
					<li #if($page && $pagenumber == $page) class="currentpage" #end ><a href="$urlBuilder.getGeotaggedUrl()?location=$location.address&page=$pagenumber">$pagenumber</a></li>
				#end
			#end
		</ul>
		
	<p>$start_index - $end_index of $main_content_total near $location</p>	
	<hr>
#end
