<div class="nav">
<ul>
	<li><b><a href="${urlBuilder.homeUrl}">Search $site_information.areaname</a></b></li>
	<li><a href="${urlBuilder.homeUrl}#submit">Submit</a></li>
	<li><a href="$site_information.url/feeds">Feeds</a></li>
	<li><a href="$site_information.url/tags">Tags</a></li>
	<li><a href="$site_information.url/publishers">Publishers</a></li>
	<li><a href="$site_information.url/watchlist">Watchlist</a></li>	
	<li><a href="$site_information.url/about">About</a></li>
	<li><a href="$site_information.url/about#contact">Contact</a></li>
</ul>
<br/>
<ul class="navtags">
    <li><a href="$site_information.url/basinreserve">Basin Reserve Flyover</a></li>
    <li><a href="$site_information.url/penguins">Our penguin overlords</a></li>
    <li><a href="$site_information.url/transport">Transport</a></li>
    <li><a href="$site_information.url/sport">Sport</a></li>
</ul>
</div>