#if ($page_links)
    <ul class="pagelinks">
        #foreach ($page_link in $page_links)
            <li #if($page && $page_link.page == $page) class="currentpage" #end ><a href="$page_link.url">$page_link.page</a></li>
        #end
    </ul>
#end
