#if ($location)	
	<p>
	#if($urlBuilder.getLocationUrlFor($location)) 
		<a href="$urlBuilder.getLocationUrlFor($location)">#parse("includes/geotag_icon.vm")$location.address</a>
	#else
		#parse("includes/geotag_icon.vm")
		$location.address
	#end
	#if ($location.osmId)
		(<a href="$urlBuilder.getOsmWebsiteUrl($location.osmId)">OpenStreetMap</a>)
	#end
	</p>
#end