#if ($rss_url )
	#if ($tags && $tags.size() == 2)  
		<ul>
			<li>#rssIcon($rss_url '')</li>
		</ul>
	#else
		<ul>
			<li>#rssIcon($rss_url "$tag.displayName.toLowerCase() feed")</li>
		</ul>
	#end
#end