<form action="$site_information.url/search">
    <fieldset>
        <input name="keywords" #if ($search_keywords) value="$search_keywords" #end />
        <input type="submit" value="Search" />
        #if ($tag && $tags.size() == 1 && !$publisher)
            <input type="checkbox" name="tag" value="$tag.name">Just $tag.displayName
        #end
        #if ($publisher)
            <p>Publisher: $publisher</p>
            <input type="checkbox" name="publisher">Just $publisher.name
        #end
    </fieldset>
</form>