<div class="signinstatus">
	<ul>
	#if ($loggedInUserFilter.isSignedIn())
		<li>Logged in as
		#if ($loggedInUserFilter.getLoggedinUserProfileName())
			<a href="$urlBuilder.getProfileUrl($loggedInUserFilter.getLoggedInUser())">$loggedInUserFilter.getLoggedInUser().orNull().profilename</a>
		#else
			<a href="$urlBuilder.getProfileUrl()">new user with no profile name</a>
		#end
				
		</li>
		<li><a href="$site_information.url/logout">logout</a></li>
	#else
		<li><a href="$site_information.url/signin">Sign in</a></li>        		
	#end
	</ul>
</div>

