#if ($tagPlace)		
		<a href="$urlBuilder.getLocationUrlFor($tagPlace)">#parse("includes/geotag_icon.vm")</a> $tag.geocode.address
		#if ($tag.geocode.osmPlaceId)
			- OSM $tag.geocode.osmPlaceId
		#end
		#if ($tag.geocode.type)
			- OSM $tag.geocode.type
		#end
	
#end