#if ($site_information.adsenseAccount && $show_ads)
<script type="text/javascript"><!--
google_ad_client = "$site_information.adsenseAccount";
google_ad_width = 160;
google_ad_height = 600;
google_ad_format = "160x600_as";
google_ad_type = "text_image";
google_ad_channel = "";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
#end
