<h1>Calendars $calendars.size()</h2>

<ul>
#foreach($calendar in $calendars)
	<li>$calendar.name<li>
	
	<ul>
	#foreach ($event in $calendar.getEvents()) 
		<li>$event.getSummary()</li>
	#end
	</ul>
#end
</ul>