#if ($commented_newsitems && $commented_newsitems.size() > 0)
<h2>Commented newsitems</h2>

<p>These $tag.displayName.toLowerCase() tagged newsitems have comments.</p>
<ul class="flat_list">
#foreach ($item in $commented_newsitems)	
	<li class="content_item">
	#parse("includes/content_element.vm")
	</li>
#end

#if ($commented_newsitems_moreurl)
	<li class="more"><a href="$commented_newsitems_moreurl">
	#if ($commented_newsitems_morecount) $commented_newsitems_morecount #end
	More...</a></li>
#end

</ul>
#end

