#set($itemUrl = $item.url)
#if ($item.type == ('F'))
	#set($itemUrl = $urlBuilder.getFeedUrl($item))
#end
	
	<li>		
		
		#if ($item.image) 
			<img src="$item.image.url" align="right" vspace="10">
		#end	
	
		<h5><a href="$itemUrl">$item.name</a></h5>
				
		<ul>		
			#if ($item.date && ($item.type == "N" || $item.type == "FNI") && $dateFormatter)
				<li class="date">$dateFormatter.formatDate($item.date, 'd MMM yyyy')</li>
			#end
							
			#if ($item.publisher)
				<li class="publisher">$item.publisher.name</li>
			#end
			
			#if ($item.type == "S" && $item.suggestion.feed.publisher)
				<li class="publisher">$item.suggestion.feed.publisher.name</li>
			#end
			
			#if ($item.latestItem)
				<li>Latest Item: $item.latestItem</li>
			#end
			#if (($item.type == 'L' || $item.type == 'F') && $item.lastChanged && !$item.latestItem)
				<li>Last Changed: $dateFormatter.formatDate($item.lastChanged, 'd MMM yyyy')</li>
			#end
			
		
			
			#if ($item.description) 
				<li>$item.description</li>
			#end
			
							
			#if ($item.type == ('F') && $editPermissionService.canEdit($item))
				#if ($item.acceptancePolicy)
					<li class="acceptance">$item.acceptancePolicy</li>
				#end						
					
				#if ($item.lastRead)
					<li class="lastread">Last Read: $dateFormatter.timeSince($item.lastRead)</li>
				#end
													
				#if ($item.acceptanceErrors && $item.acceptanceErrors.size() > 0)				
					<ul>
						#foreach($error in $item.acceptanceErrors) 
							<li>$error</li>
						#end
					</ul>
				#end
			#end
				
			
			#if ($item.type == 'W') 
				#set ($newsitemCount = $publisherNewsitemCountService.getNewsitemCount($item))
				#if ($newsitemCount> 0) 
					<li><a href="$site_information.url/$item.urlWords">
					#showItemCount($newsitemCount "newsitem")	
					</a></li>
				#end
				
				#if ($item.feeds && $item.feeds.size() > 0) 
					#if($item.feeds.size() == 1)
						#set ($feed = $item.feeds.iterator().next())					
						<li><a href="$urlBuilder.getFeedUrl($feed)">1 feed</a></li>
					#else
						<li><a href="$site_information.url/$item.urlWords/feeds">#showItemCount($item.feeds.size() "feed")</a></li>
					#end
				#end
				
				#if ($item.calendars && $item.calendars.size() > 0) 
					#if($item.calendars.size() == 1)
						#set ($calendar = $item.calendars.iterator().next())					
							<li><a href="${site_information.url}/viewcalendar?calendarfeed=$calendar.id">1 calendar</a>	
						#else
							<li><a href="$site_information.url/$item.urlWords/calendars">#showItemCount($item.calendars.size() "calendar")</a></li>
						#end
					#end			
				
					#if ($item.watchlist && $item.watchlist.size() > 0) 
						<li><a href="$site_information.url/$item.urlWords/watchlist">#showItemCount(	$item.watchlist.size() "watchlist")</a></li>
					#end
				#end
								
				#if ($item.tags && $item.tags.size() > 0)
					<li class="tagged">Tagged as:</li>
					#foreach ($tag in $item.tags)
						#if (!$tag.hidden)
							<li class="tagged"><a href="$urlBuilder.getTagUrl($tag)">$tag.displayName.toLowerCase()</a></li>
						#end
					#end
				#end
				
								
				#if ($item.comments && $item.comments.size() > 0) 
					<li class="commented">
					#if ($item.comments.size() > 0)
						#if ($item.publisher)
							<p>This <i>#stripThePrefix($item.publisher.name)</i> newsitem has #showItemCount($item.commentFeed.comments.size() "comment").</p>
						#else
							<p>This newsitem has #showItemCount($item.comments.size() "comment").</p>
						#end
						#parse("includes/comments_list.vm")						
						#if ($item.comments.size() <= 3)
							<p>You can add own comments <a href="$item.url">here</a>.</p>
						#else
							<p>You can view the remaining comments and submit your own <a href="$item.url">here</a>.</p>
						#end
						
					#else
						<p>This newsitem has comments enabled. You can add own comments <a href="$item.url">here</a>.</p>
					#end							
					</li>
				#end
				
				
				#if ($item.twitterSubmitter) 
					<li class="twitteredby">Twittered by: <a href="http://www.twitter.com/$item.twitterSubmitter">@$item.twitterSubmitter</a></li>
					#if ($item.twitterMessage) 
						<li class="twitterMessage">$item.twitterMessage</li>
					#end						
				#end
			
			
				#if ($item.geocode && $item.geocode.address)
					#if ($editPermissionService.canEdit($item)) 
						<li #if ($item.geocode.isValid()) class="geocode-valid" #else class="geocode-invalid" #end >
					#else 
						</li>
					#end
					
					#if ($item.geocode.isValid())
						<a href="$site_information.url/geotagged?resource=$item.id">#parse("includes/geotag_icon.vm")</a>
					#else
						#parse("includes/geotag_icon.vm") 
					#end
					
					$item.geocode.address</li>
				#end
				
				
					#if ($item.type == "N" && $item.reTwits.size() > 0)
						<ul>
							#foreach ($twit in $item.reTwits) 
                            	<li class="twitterMessage"><a href="http://twitter.com/$twit.author"><img src="$twit.profileImage" align="left" width="30" border="0" /></a> $twit.author $twit.text</li>       
                        	#end
						</ul>					
					#end
				
				
					#if ($editPermissionService.canCheck($item) && ($item.type != "FNI") && ($item.type != "TNI"))
						<li>Http Status: $item.httpStatus</li>
					#end
				
					#if ($editPermissionService.canEdit($item) && ($item.type != "FNI") && ($item.type != "TNI"))
						<li class="admin"><a href="$adminUrlBuilder.getResourceEditUrl($item)">edit</a></li>
					#end
					#if ($editPermissionService.canDelete($item) && ($item.type != "FNI") && ($item.type != "TNI"))
						<li class="admin"><a href="$adminUrlBuilder.getResourceDeleteUrl($item)">delete</a></li>
					#end
					#if ($editPermissionService.canCheck($item) && ($item.type != "FNI") && ($item.type != "TNI"))				
						<li class="admin"><a href="$adminUrlBuilder.getResourceCheckUrl($item)">check</a></li>
					#end
								
				#if ($editPermissionService.canEdit($item) && ($item.type == "FNI"))			
					#if ($item.localCopy) 
						<li class="admin"><a href="$adminUrlBuilder.getResourceEditUrl($item.getLocalCopy())">edit local copy</a></li>
					#end
					<li class="admin"><a href="$adminUrlBuilder.getFeedNewsitemAcceptUrl($item)">accept</a></li>
					#if ($item.suppressed) 
						<li class="admin"><a href="$adminUrlBuilder.getFeedNewsitemUnsuppressUrl($item)">unsuppress</a></li>
					#else
						<li class="admin"><a href="$adminUrlBuilder.getFeedNewsitemSuppressUrl($item)">suppress</a></li>
					#end
					<li>Http Status: $item.httpStatus</li>
				#end
								
				#if ($editPermissionService.canEdit($item) && ($item.type == "TNI"))
					<li>Twitter id: $item.twitterId</li>
					<li class="admin"><a href="$adminUrlBuilder.getTwitteredNewsitemAcceptUrl($item)">accept</a></li>					
				#end
								
				#if ($editPermissionService.canEdit($item) && ($item.type == "S"))					
					<li class="admin"><a href="$adminUrlBuilder.getSuggestionAcceptUrl($item)">accept</a></li>
					<li class="admin"><a href="$adminUrlBuilder.getSuggestionSuppressUrl($item)">ignore</a></li>
				#end
															
				#if ($item.owner && $item.owner.profilename) 	
					<li>Submitted by:					
						<a href="$urlBuilder.getProfileUrl($item.owner)">$item.owner.profilename</a>					
					</li>
				#end	
		</ul>				
	</li>
	<br clear="all">				
			
				
				