		<li class="content_item">
			<ul class="main_content_item">
				<li><h5>$event.name</h5></li>
				#if ($event.publisher)
					<li class="publisher">$event.publisher.name</li>
				#end
				<li>$dateFormatter.formatDateToTimeZone($event.startDate) - $dateFormatter.formatDateToTimeZone($event.endDate)</li>				
				#if ($event.description) 
					<li>$event.description</li>
				#end
			</ul>
		</li>