#if ($events && $events.size() > 0)
<div class="box">
<h2>Calendar Events</h2>

<p>Upcoming calendar events.</p>

	<ul class="flat_list">
		#foreach($event in $events)
			#parse("includes/event.vm")
		#end
		<li class="more"><a href="$site_information.url/calendars">More...</a></li>
	</ul>

</div>
#end