<script>
	initialize();
	
	#foreach($item in $geocoded)
	showAddress($item.geocode.latitude, $item.geocode.longitude,
		"$escape.javascript($item.name)",
		"$escape.javascript($item.url)",
		"$escape.javascript($item.description)");		
	#end

	var zoom = 13;
	#if ($selected) 	
	var centrePoint = new GLatLng($selected.getGeocode().getLatitude(), $selected.getGeocode().getLongitude());
	zoom = 15;
	#elseif ($geocoded.size() > 0 )    
	var centrePoint = new GLatLng($geocoded.get(0).getGeocode().getLatitude(), $geocoded.get(0).getGeocode().getLongitude());
	#else
	var centrePoint = new GLatLng(-41.19, 174.95);
	#end	
	map.setCenter(centrePoint, zoom);
	
</script>