#parse("includes/showitemcount_macro.vm")
#parse("includes/rss_icon_macro.vm")
<html>
<head>
<title>$heading - Search ${site_information.areaname}</title>
#if ($description) 
	<meta name="description" content="$description">
#end
<link rel="stylesheet" href="$urlBuilder.getStaticUrl('styles.css')">
#if ($rss_url) 
<link rel="alternate" type="application/rss+xml" title="$rss_title" href="$rss_url">	
#end
#if ($publisher_select || $tag_select)	
	<script type="text/javascript" src="$urlBuilder.getStaticUrl('jquery-1.3.2.js')"></script>
	<script type="text/javascript" src="$urlBuilder.getStaticUrl('jquery.autocomplete.js')"></script>
	
  	<link rel="stylesheet" href="$urlBuilder.getStaticUrl('jquery.autocomplete.css')" type="text/css" />
  	
  	<script>
		$(document).ready(function(){    		    			
			$("#publisherName").autocomplete("$urlBuilder.publishersAutoCompleteUrl");
			$("#tagName").autocomplete("$urlBuilder.tagsAutoCompleteUrl");
			
			$("#addTag").click(function() {
				var tagname = $('#tagName').val();
				$('#tags').append('<option value="' + tagname + '">' + tagname + '</options>');
				$('#tagName').val("");
			});
			
			$("#removeTags").click(function() {
			 	$('#tags option:selected').remove();			
			});
			
			$("#editForm").submit(function() {
				$('#tags option').attr('selected', 'selected');
			});				 
		 });				 
	</script>
		  		  
#end


#if ($geocoded) 
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=$site_information.googleMapsApiKey" type="text/javascript"></script>
<script type="text/javascript">

    var map = null;
    var geocoder = null;

    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        
        #if ($selected || $geotags_is_small) 
	        map.setCenter(new GLatLng(-41.19, 174.95), 14);
        #else
    	    map.setCenter(new GLatLng(-41.19, 174.95), 12);        
		#end
	        
        #if (!$geotags_is_small)	   	
	        map.addControl(new GSmallMapControl());        	
        #end
      }
    }

    function showAddress(lat, long, title, url, description) {
      	var point = new GLatLng(lat, long); 
       	var marker = new GMarker(point);
       	   	
     	GEvent.addListener(marker, "click", function() {
       		marker.openInfoWindowHtml("<a href=\"" + url + "\">" + title + "</a>" + "<p>" + description + "</p>");
      	});
    
      	map.addOverlay(marker);
	}
	
</script>
#end
</head>

<body 
#if ($geocoded)
onunload="GUnload()"
#end
>