#if ($login_prompt && !$loggedInUserFilter.getLoggedInUser())
	<div class="box">
		<h2>Sign in</h2>
		
		<p>Sign in to have your submissions assigned to you. This will allow you to edit them in the future.</p>
						
		<p>Sign in using your OpenID or use your 
		<a href="$site_information.url/openid/login?openid_claimed_identity=google.com/accounts/o8/id">Google</a>, 
		<a href="$site_information.url/openid/login?openid_claimed_identity=flickr.com">Flickr</a>		
		or <a href="$site_information.url/openid/login?openid_claimed_identity=https://me.yahoo.com/">Yahoo</a> 
		account to sign in via OpenID:</p>
		
		<form action="$site_information.url/openid/login" method="POST"> 
 			<fieldset>	  			
				<input 	name="openid_claimed_identity" 
						style="background: #fff url('$urlBuilder.getImageUrl('openid_logo.png')') no-repeat left; padding-left: 18px">				
		     	<input type="submit" class="password" value="Sign in">                        	  	
	  		</fieldset>
		</form>
							
		<p>Search Wellington uses <a href="http://openid.net/">OpenID</a> for signin. We think OpenID is a good thing; 
		<a href="http://www.openid.co.uk/node/6">this video gives an overview of the system</a>. 
		</p>
				
	</div>
#end