#if ($login_prompt && !$loggedInUserFilter.getLoggedInUser())
	<div class="box">
		<h2>Sign in</h2>
		
		<p>Registered users only.</p>
		
		<form action="$site_information.url/openid/login" method="POST"> 
 			<fieldset>
	  			<label for="openid_claimed_identity">OpenID:</label>
				<input name="openid_claimed_identity" class="body">				
		     	<input type="submit" class="password" value="login">                        	  	
	  		</fieldset>
		</form>
		
		Or sign in using your 
		<a href="$site_information.url/openid/login?openid_claimed_identity=google.com/accounts/o8/id">
		Google account</a>.
	</div>     		
#end