#if ($user.isAdmin())
	<label for="embargo_date">Embargo date: </label>
	<input name="embargo_date" #if($resource.embargoedUntil) value="$dateFormatter.formatDate($resource.embargoedUntil, 'd MMM yyyy HH:mm')" #end />
					
	$resource.isHeld()
	<label for="held">Held: </label>
	<input type="hidden" name="has_held" value="1" />
	<input type="checkbox" name="held" value="true" #if ($resource.isHeld()) CHECKED#end />
	<br/>
#end