#if ($publisher_select) 
	<label for="publisherName">Publisher: </label>
	<input id="publisherName" name="publisherName" #if($resource.publisher) value="$resource.publisher.name" #end />		  
	<br />
#end