#if ($related_tags)
	<h2>Related Tags</h2>
	<p>$publisher.name items have been tagged with:</p>

	<ul>
	#set ($first =1)
	#foreach ($related_tag in $related_tags)
        <li><a href="$urlBuilder.getPublisherCombinerUrl($publisher, $related_tag.tag)">$related_tag.tag.displayName.toLowerCase()</a>
        #if ($first == 1)
          	($related_tag.count #showPluralWord($related_tag.count "item"))
           	#set ($first =0)
        #else
           	($related_tag.count)
        #end
        </li>
	#end
	</ul>
#end
