#if ($tag_feeds && $tag_feeds.size() > 0)
	<h2>$tag.displayName Feeds</h2>
	<ul class="flat_list">
		#foreach($item in $tag_feeds)
			<li>
				<ul class="tag_watchlist_item">
					#parse("includes/content_element.vm")
				</ul>
			</li>
		#end
	</ul>
#end
