	#if ($tag_select) 
		<label for="tags">Tags: </label>
	   	$tag_select	
	   	<input type="hidden" name="has_tag_select" value="1" />
	#end
	<br />	

	#if ($show_additional_tags) 
		<label for"addtional_tags">Additional tags: <br />
		Add any additional tags here (seperated by commas)</label>
		<input name="additional_tags">
	#end	
	<br />