#if ($tag_feeds && $tag_feeds.size() > 0)
<div class="box">

<h2>$tag.displayName Feeds</h2>

#set ($righthand_content_one = $columnSplitter.left($tag_feeds))
#set ($righthand_content_two = $columnSplitter.right($tag_feeds))

#parse("includes/righthand_two_columns.vm")
</div>
#end