#if ($editPermissionService.canEdit($tag))
	<ul>
		<li class="admin"><a href="$site_information.url/tag/edit?tag=$tag.id">Edit</a></li>
		<li class="admin"><a href="$site_information.url/tag/delete?tag=$tag.id">Delete</a></li>
		<li class="admin"><a href="$site_information.url/$run_places_autotagger_url">Autotag</a></li>	
	</ul>
#end