#if ($tagless && $tagless.size() > 0)
	<div class="box">
		<h2>Tagless</h2>

		<p>These newsitems are tagless and unloved.</p>

		#set ($righthand_content_one = $columnSplitter.left($tagless))
		#set ($righthand_content_two = $columnSplitter.right($tagless))

		#parse("includes/righthand_two_columns.vm")
	</div>
#end