#if ($owneditem)
	<div class="box">
		<h2>Your Listing</h2>

		<p>You may <a href="$site_information.url/edit/edit?resource=$owneditem.id">continue to edit</a> your listing.</p>

		#set ($item = $owneditem)
			<div class="main_content">
				<ul class="flat_list">
					#parse("includes/content_element.vm")
				</ul>
			</div>
			
	#if($owneditem.httpStatus && $owneditem.httpStatus !=200 && $owneditem.httpStatus !=0) 
		<p>We've checked the url for this listing ($owneditem.url) and it appears to be invalid.</p>
	#end
</div>
#end
