#if ($owned && $owned.size() > 0)
	
	<div class="box">
	<h2>Your Submissions</h2>

	<p>You have submitted these items.</p>
	
	#set ($righthand_content_one = $columnSplitter.left($owned))
	#set ($righthand_content_two = $columnSplitter.right($owned))

	#parse("includes/righthand_two_columns.vm")
</div>
	
#end
