#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">

<h2>$heading</h2>

<p>The <i><a href="/#newslog">${siteInformation.areaname} newslog</a></i>
collects newsitems and notices published by local organisations. The resulting
content isn't going to be what you'll find in a newspaper but we think that's 
half the attraction.</p>

<p>The newslog is also available as an <a href="rssfeeds">RSS feed</a>.</p>


<h3>RSS and JSON feeds</h3>

<p>By running an aggregator we're taking a slight liberty with other people's content.
It's therefore important that we've transparent about what we're doing.
Our index is available in machine readable formats for reuse by other members of the community.</p>

<p>The main content of each page is available as an RSS feed or JSON.
Appending /rss or /json to a page url to access these feeds. This url scheme is inspired by the Guardian newspaper.</p>

<p>The complete set of available feeds is documented in the <a href="/api">API instructions</a>.</p>


<a name="contact"></a>
<h3>Contact</h3>

<p>Any enquires can be directed to <code>enquires (at) wellington.gen.nz</code></p>

<a name="nikau"></a>
<h3>Nikau Palms</h3>

<img src="$urlBuilder.getStaticUrl('civic8.jpg')" align="right" alt="Nikau Palm in the Civic Square" />

<p><i>Right</i> - One of the copper clad Nikau palm trees which dot the Civic Square and line the exterior of the Central Library building.</p>

<p>Valued at $25,000 NZ each, these
additions to the Square 
were suggested by the architect Ian Athfield as a way of making the area 
more inviting. The Nikaus have become somewhat of an icon for Wellington 
City.</p>

<p>The Nikau, is a distinctive New Zealand native tree. Reassembling a 
feather duster, it grows to approximately 20ft.</p>

<p>The Nikau palm is found 
throughout New Zealand, growing as far south as Christchurch. While the trunk 
of this tree is of no use for building it's large leaves 
provided useful 
shelter for the early Maori, who also ate the young shots and buds. Wood 
Pigeons consume the berries in large quantities. The Nikau berry is 
extremely hard and was sometimes used as shotgun ammunition by early 
settlers. 
</p>
<p>
<br />

<h3>I do not want my content indexed</h3>

<p>${siteInformation.sitename} honours the <a href="http://en.wikipedia.org/wiki/Robots_Exclusion_Standard">robots exclusion standard</a>.
Organisations can indicate in their robots.txt that ${siteInformation.sitename} should not index their content.</p>

<p>The following lines in your robots.txt file will result in your content been removed from the index:</p>

<ul>
	<li><code>User-agent: $user_agent<br />
	Disallow: *</code></li>
</ul>

<p>You can also <a href="#contact">contact us directly</a> to request exclusion.</p>


<h3>Source code</h3>
<p>A Scala application which uses MongoDB and Elasticsearch.
The source code is available for review on <a href="http://www.github.com/tonytw1/wellynews">Github</a>.</p>
</div>

<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>


</div>

</div>

#parse("includes/footer.vm")