#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">

<h2>$heading</h2>

<p>The <i><a href="index#newslog">${siteInformation.areaname} Newslog</a></i>
draws in notices and newsitems published by local organisations. The resulting 
content isn't going to be what you'll find in a newspaper but we think that's 
half the attraction.</p>

<p>The Newslog appears daily on the front page of Search $siteInformation.areaname and is also available
as an <a href="rssfeeds">RSS feed</a>.</p>


<h3>I do not want my content indexed</h3>

<p>Search Wellington honours the <a href="http://en.wikipedia.org/wiki/Robots_Exclusion_Standard">robots exclusion standard</a>.
Organisations can indicate in their robots.txt that Search Wellington should not index their content.</p>

<p>The following lines in your robots.txt file will result in your content been removed from the index:</p>

<ul>
	<li><code>User-agent: $user_agent<br />
	Disallow: *</code></li>
</ul>

<p>You can also <a href="#contact">contact us directly</a> to request exclusion.</p>


<a name="contact"></a>
<h3>Contact</h3>

<p>Any enquires should be directed to <code>enquires (at) wellington.gen.nz</code></p>

<a name="nikau"></a>
<h3>Nikau Palms</h3>

<img src="$urlBuilder.getStaticUrl('civic8.jpg')" align="right" alt="Nikau Palm in the Civic Square" />

<p><i>Right</i> - One of the copper clad Nikau palm trees which dot the Civic Square and line the exterior of the Central Library building.</p>

<p>Valued at $25,000 NZ each, these
additions to the Square 
were suggested by the architect Ian Athfield as a way of making the area 
more inviting. The Nikaus have become somewhat of an icon for Wellington 
City.</p>

<p>The Nikau, is a distinctive New Zealand native tree. Reassembling a 
feather duster, it grows to approximately 20ft.</p>

<p>The Nikau palm is found 
throughout New Zealand, growing as far south as Christchurch. While the trunk 
of this tree is of no use for building it's large leaves 
provided useful 
shelter for the early Maori, who also ate the young shots and buds. Wood 
Pigeons consume the berries in large quantities. The Nikau berry is 
extremely hard and was sometimes used as shotgun ammunition by early 
settlers. 
</p>
<p>
<br />

<h3>Getting content out of the system</h3>

<p>By running an aggregator, we're taking a slight liberty with other people's content.
It's therefore important that we've transparent about what we're doing. To this end, our index is available in a machine readable for for reuse by other members of the community.

<p>Our ethos is if we use a piece of data to render one of our own pages, then generally that data should also be available as a feed.</p>

<h3>RSS and JSON feeds</h3>

<p>All of the main page types are available as an RSS or JSON feed. Appending /rss or /json to a site url
will in most cases provide the underlying data in the desired format. (credit - this url scheme is inspired by the Guardian newspaper's site)</p>

<p>The complete range of available feeds is documented in the <a href="/api">API instructions</a>.</p>

<a name="geotagged" />
<h3>Geotagged newsitems</h3>

<p>Some of the newsitems in our feeds contain <a href="geotagged">position information</a>. This information
makes the following possible:</p>

<p>-Searching for newitems based on location<br/>
		ie. Newsitems near Islandbay: <a href="$urlBuilder.geotaggedUrl?location=Island+Bay">$urlBuilder.geotaggedUrl?location=Island+Bay</a>
	</p>
	<p>-RSS feeds of newsitems near a location<br/>
	ie. An RSS feed of newsitems near Petone Station: <a href="$urlBuilder.geotaggedUrl/rss?location=Petone+Station">$urlBuilder.geotaggedUrl/rss?location=Petone+Station</a>
	</p>
	
	<p>-Newsitems near your current position (HTML5 browsers such as Firefox 4 and Safari 5 only)<br/>
	Click the near me link on the <a href="geotagged">geotagged newsitems page</a> to experiment with this feature
	</p>
</ul>

<h3>Source code</h3>
<p>A Java application which uses and MondoDB and Elastic search.
The source code is available for review on <a href="http://www.github.com/tonytw1/wellynews">Github</a>.</p>
</div>

<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>


</div>

</div>

#parse("includes/footer.vm")