#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">
<h2><a href="${siteInformation.url}/feeds">Feeds</a> / $heading</h2>

<p>These newsitems have been accepted from feeds recently.</p>

<p>This listing is also available as an RSS feed.</p>
<ul>
	<li>#parse("includes/rss_icon.vm") <code>$rss_url</code></li>
</ul>

#parse("includes/main_content.vm")

</div>


<div class="right">

<div class="box">
    <h2>Accepted counts</h2>
    <p>How many newsitems were accepted on each day.</p>
    <ul>
        #set ($first = 1)
        #foreach($acceptedDay in $acceptedDays)
             <li class="archive_link">
                <a href="$urlBuilder.getAcceptedUrl($acceptedDay.day)">$dateFormatter.formatLocalDate($acceptedDay.day)</a>
                #if ($first == 1)
                    ($acceptedDay.count accepted)
                    #set ($first = 0)
                #else
                    ($acceptedDay.count)
                #end
            </li>
        #end
    </ul>
</div>

<div class="box">
    #parse("includes/latest_newsitems.vm")
    <br clear="all"/>
</div>

</div>

</div>

#parse("includes/footer.vm")