#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">

<h2>$heading</h2>

	<p><a href="/admin/rebuild-index">Rebuild elastic search index</a></p>

	<h2>Backfill dates</h2>
	#parse("includes/main_content.vm")
</div>

<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>

</div>

</div>

#parse("includes/footer.vm")
