#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2>$heading</h2>
		<ul>
			<li class="tagged"><a href="#gettingstarted">Getting started</a> | </li>
			<li class="tagged"><a href="#newsitemqueries">Newsitem queries</a> | </li>
			<li class="tagged"><a href="#geotagged">Geotagging | </li>
			<li class="tagged"><a href="#rsstojson">RSS to JSON mirroring</a> | </li>
			<li class="tagged"><a href="#contact">Contact</a></li>
		</ul>	

		<center>
			<img src="$urlBuilder.getImageUrl('wordel.png')" width="520" border="0" vspace="0">
		</center>
		<br />
		
		<span class="wordlecredit">Word cloud by Wordle</span>
		<br/>
		<p>A number of large news organisations have begun providing <a href="http://www.guardian.co.uk/open-platform">APIs to their content</a>. 
		These APIs allow content to be queried programmatically for use in mash ups and the like.</p>

		<p>The Wellynews API lets you do something simular with local newsitems.</p>

		<p>For example the API can provide a feed of local newsitems related to <a href="$siteInformation.url/consultation/rss">consultation</a>;
		or maybe <a href="$siteInformation.url/zebras/rss">zebras</a>.

		<p>It can also handle potentially interesting combinations,
		such as <a href="$siteInformation.url/wellington-city-council+central-library/rss">what Wellington City Council has said about the Central Library closure</a> or
		<a href="$siteInformation.url/sculpture+waterfront/rss">sculpture on the waterfront</a>.
		</p>

	
		<a name="gettingstarted"></a>
		<h2>Getting started</h2>
	
		<h5>Supported Formats</h5>

		<p>The API allows newsitems to be extracted in RSS or JSON format. RSS is widely supported by feed readers,
		web browsers and server side libraries. JSON is typically used for passing data into browser based JavaScript applications and mashups.</p>

		<p>The desired format is specified by appending either <code>rss</code> or <code>json</code>
		to the end of the query url.</p>

		<p>ie. Transport newsitems in RSS format:</p>

		<ul>
			<li><code><a href="$siteInformation.url/transport/rss">$siteInformation.url/transport/rss</a></code></li>
		</ul>

		<p>or the same newsitems in JSON format:</p>
		
		<ul>
			<li><code><a href="$siteInformation.url/transport/json">$siteInformation.url/transport/json</a></code></li>
		</ul>


		<a name="newsitemqueries"></a>
		<h2>Newsitem queries</h2>

		<p>The following types of newsitem query are supported.</p>

		<h5><b>Tag newitems</b></h5>

		<p>Returns newsitems tagged with a given tag.</p>
	
		<ul>
			<li><code>$siteInformation.url/[tag url snippet]/[rss|json]</code>
		</ul>

		<p>ie. All newsitems tagged with soccer, in RSS format.</p>

		<ul>
			<li><code><a href="$siteInformation.url/soccer/rss">$siteInformation.url/soccer/rss</a></code></li>
		</ul>


		<h5><b>Publisher newsitems</b></h5>

		<p>Returns newsitems published by a specific publisher.</p>

		<ul>
			<li><code>$siteInformation.url/[publisher url snippet]/[rss|json]</code>
		</ul>

		<p>ie. newsitems published by the Wellington City Council, in JSON format.</p>

		<ul>
			<li><code><a href="$siteInformation.url/wellington-city-council/json">$siteInformation.url/wellington-city-council/json</a></code></li>
		</ul>

		<h5><b>Combinations</b></h5>

		<p>List newsitems tagged with a combination of two tags or a publisher and a tag.</p>
		<p> The tags are separated with a plus character. For publisher and tag combinations the publisher must always appear on the left hand side of the plus.</p>

		<ul>
			<li><code>$siteInformation.url/[tag|publisher]+[tag]/[rss|json]</code>
		</ul>

		<p>ie. newsitems tagged with transport and consultation and Wellington City Council media releases tagged with runway extension:</a>.</p>

		<ul>
			<li><code><a href="$siteInformation.url/transport+consultation/rss">$siteInformation.url/transport+consultation/rss</a></code></li>
			<li><code><a href="$siteInformation.url/wellington-city-council+runway-extension/rss">$siteInformation.url/wellington-city-council+runway-extension/rss</a></code></li>
		</ul>

		<p>Credit: This url scheme was inspired by the Guardian newspapers' tag combiners.</p>


<h5><b>Geotagged newsitems</b></h5>

    <p>Some newsitems contain <a href="geotagged">location information</a>. This makes the following possible:</p>

    <p>Geotagged newsitems in RSS format.</p>
        <ul>
            <li><code><a href="$siteInformation.url/geotagged/rss">$siteInformation.url/geotagged/rss</a></code></li>
        </ul>
    </p>

    <p>-Searching for newitems based on location.<br/>
		ie. Newsitems near Island Bay:
		<ul>
	    	<li><code><a href="$urlBuilder.geotaggedUrl?osm=279654904/NODE">$urlBuilder.geotaggedUrl?osm=279654904/NODE</a></code></li>
		</ul>
	</p>

	<p>RSS feeds of newsitems near a location.<br/>
    	ie. An RSS feed of newsitems near Wellington railway station:
    	<ul>
           <li><code><a href="$urlBuilder.geotaggedUrl/rss?osm=2640313612/NODE">$urlBuilder.geotaggedUrl/rss?osm=2640313612/NODE</a></code></li>
       </ul>
	</p>

	<p>Newsitems near your current position (HTML5 browsers such as Firefox 4 and Safari 5 only).<br/>
	    Click the near me link on the <a href="geotagged">geotagged newsitems page</a> to experiment with this feature
	</p>

    <p>Geotags are embedded in our RSS feeds using the
    <a href="https://en.wikipedia.org/wiki/GeoRSS">GeoRSS</a> standard. A GeoRSS tagged feed item has this format:</p>
    <code>
        &lt;item&gt;<br/>
          &lt;title&gt;Can you replace the Hilton?&lt;/title&gt; <br/>
          &lt;geo:lat&gt;-41.284896&lt;/geo:lat&gt; <br/>
          &lt;geo:long&gt;174.778531&lt;/geo:long&gt; <br/>
        &lt;/item&gt;
    </code>

<h5><b>Pagination</b></h5>

		<p>Each RSS or JSON call returns a maximum of 30 results. 
		For JSON calls, additional results can be obtained from using the <code>page</code> parameter to paginate through the results.</p>

		<p>ie. page 6 of the Victoria University newsitems:</p>

		<ul>
			<li><code><a href="$siteInformation.url/victoria-university-of-wellington/json?page=6">$siteInformation.url/victoria-university-of-wellington/json?page=6</a></code></li>
		</ul>

		<p>You can see the total number of available results in the <code>totalItems</code> field of the JSON results. The <code>showingFrom</code>
		 and <code>showingTo</code> fields tell you which results you are currently viewing:</p>

<pre>
<code>
{
  "totalItems": 377,
  "showingFrom": 151,
  "showingTo": 180,
  "newsitems": [ ... ]
}
</code>
</pre>

		<a name="rsstojson"></a>	
		<h2>RSS to JSON feed mirroring</h2>

		<p>Provides JSON copies of local RSS feeds. This makes it easier to integrate feeds into sites using JavaScript.</p>

        <p>
            <ul>
                <li><code>$siteInformation.url/feed/[feed url snippet]/json</code><br/>
                Where the feed url snippet matches one of the feeds listed below.</li>
            </ul>
        </p>

		<p>ie. Wellington City Councils' latest news feed as a JSON list:</p>
		<ul>
			<li><code><a href="$siteInformation.url/feed/wellington-city-council-latest-news/json">$siteInformation.url/feed/wellington-city-council-latest-news/json</a></code></li>
		</ul>
	</div>

	<div class="right">
		<div class="box">
			<h2>Example</h2>
			<p>Using JSON and JavaScript to show the latest transport newsitems on a page.</p>
			<div class="apiexample">
				#include("widget.vm")
			</div>

			<h5>Source code</h5>
			<p><a href="https://github.com/tonytw1/wellynews/blob/master/src/main/resources/widget.vm">Source code</a>.</p>
			<p>This example was implemented using the <a href="http://jquery.com/">jQuery JavaScript library</a>.

			<p>Lines 1-2: HTML for the Transport heading and an empty div tag which jQuery will write the newsitems into.</p>
			<p>Line 4: Sourcing in the jQuery library file; you would normally do the in the head tag.</p>
			<p>Lines 6-8: jQuery. Once the page has finished loading and is ready, fetch JSON data from the API and pass it to the function renderNewsitems.</p>
			<p>Lines 10-16: jQuery. The renderNewsitems function is using jQuery to write out the first 4 items from the JSON data as HTML into the empty newsitems div.</p>
		</div>

		<a name="contact"></a>
		<div class="box">
			<h2>Contact</h2>
			<p>Doing something interesting with this?</p><p>Contact <code>enquires (at) wellington.gen.nz</code> and let us know.</p>
			
		</div>
	</div>

</div>

#parse("includes/footer.vm")