#parse("includes/header.vm")

<div class="page">
    #parse("includes/topbar.vm")

    <div class="left">
        #parse("includes/tag_tree.vm")
    </div>

    <div class="main">
        <div class="rss">
            #parse("includes/rss_widget.vm")
        </div>

        <h2><a href="$siteInformation.url/archive">Archive</a> / $heading</h2>
        #parse("includes/search_widget.vm")

        #parse("includes/monthLinks.vm")

        #parse("includes/main_content.vm")
    </div>

    <div class="right">

        <div class="box">
            #parse("includes/archive.vm")
        </div>

        <div class="box">
            <h2>Publishers</h2>
            <p>$publisher_archive_links.size() #showPluralWord($publisher_archive_links.size() "publisher") have published news items this month.</p>
           <ul>
                #foreach ($link in $publisher_archive_links)
                    <li><a href="$urlBuilder.getPublisherArchiveLinkUrl($link)">$link.publisher.name</a> ($link.count)</li>
                #end
            </ul>
        </div>

        <div class="box">
            #parse("includes/latest_newsitems.vm")
        </div>
    </div>

</div>

#parse("includes/footer.vm")
