#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2>Editing a Resource</h2>

        $resource

		#if ($resource)
			<form id="editForm" action="$adminUrlBuilder.getSaveUrl()" method="POST">
				<input type="hidden" name="resource" value="$resource.id" />

				<fieldset>					
				
					#parse("includes/form_resource_title_and_url.vm")
									
					#if ($resource.type != "W")
						<label for="date">Date: </label>	
						<input name="date" #if($resource.date) value="$dateFormatter.dayMonthYear($resource.date)" #end />
					#else
						<input name="date" #if($resource.date) value="$dateFormatter.dayMonthYear($resource.date)" #end  type="hidden" />
					#end
					<br />
				
					#parse("includes/publisher_form_field.vm")
				
					#if ($user.isAdmin())
						#if ($acceptance_select) 	
							<label for="acceptance">Acceptance Policy: </label>
							$acceptance_select
							<br />
						#end
					#end
					
					#if ($resource.image)
						<img src="$resource.image.url" align="right" vspace="10">
						<br>
						<input name="image" value="$resource.image.url" />
					#end
												
					#parse("includes/tag_edit_fields.vm")
					
					#set($geocode = $resource.geocode)								
					#parse("includes/geocodeFields.vm")
									
					<label for="description">Description: </label>
					<textarea name="description" rows="6" cols="40">$escape.html($resource.description)</textarea>
					<br />
										
					#parse("includes/moderation_fields.vm")				
																		
					<input type="submit" value="Save" />
					
				</fieldset>
		</form>
	#else
		<p>There was a problem loading this resource for editing. You may 
		not have permission to edit this particular listing.</p>
	#end

	<form action="$siteInformation.url/cancel" method="POST">
		<input type="submit" value="cancel" />
	</form>

</div>

#parse("includes/footer.vm")