#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")


<div class="left">
#parse("includes/tag_tree.vm")
</div>




<div class="main">
<h2>Editing Configuration</h2>


<form action="/save" method="POST"> 
		<fieldset>
			
		<p><label for="name">Statitics Tracking code: </label>
		<textarea name="stats_tracking_code" cols="80" rows="10">$stats_tracking_code</textarea></p>

		<p><label for="clickthrough_tracking_select">Use clickthrough tracking: </label>
		$clickthrough_tracking_select</p>
		
		<p><label for="feed_reading_enabled">Feed reading enabled: </label>
		$feed_reading_enabled_select</p>
		
		<p><label for="twitter_listener_is_enabled_select">Twitter listener enabled: </label>
		$twitter_listener_is_enabled_select</p>
		
		<input type="submit" value="Save" />		
	</fieldset>
</form>

<form action="../../cancel" method="POST">
	<input type="submit" value="cancel" />
</form>


</div>

</div>

#parse("includes/footer.vm")