#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2>Editing a tag</h2>

		<form id="editForm" action="$adminUrlBuilder.getEditTagUrl($tag)" method="POST">

            #springBind("editTag")
            #foreach($error in $status.errorMessages)
                <div class="alert">$error</div>
            #end

            <fieldset>
                #springBind("editTag.displayName")
                <label for="${status.expression}">Display name:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />

                #springBind("editTag.description")
                <label for="${status.expression}">Description:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />

                #springBind("editTag.parent")
                <label for="${status.expression}">Parent:</label>
                <select name="${status.expression}">
                    <option value="">
                    #foreach($parent in $parents)
                        <option value="$parent.BSONId" #if($parent.BSONId == ${status.value}) SELECTED #end>$parent.name
                    #end
                </select>
                <br />

                #springBind("editTag.autotagHints")
                <label for="${status.expression}">Autotag Hints:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />

                #springBind("editTag.featured")
                <label for="${status.expression}">Featured:</label>
                <input name="${status.expression}" type="checkbox:" value="$!{status.value}" />
                $!{status.value}
                <br />

                #springBind("editTag.geocode")
                <label for="${status.expression}">Geocode:</label>
                <input id="geocode" name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #springBind("editTag.selectedGeocode")
                <label for="${status.expression}">Selected geocode:</label>
                <input id="selectedGeocode" name="${status.expression}" class="title" value="$!{status.value}" />
                <br />

				<input type="submit" value="Submit" />
			</fieldset>
		</form>

		<form action="/cancel" method="POST">
			<input type="submit" value="Cancel" />
		</form>

	</div>

</div>

#parse("includes/footer.vm")