#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2>Editing a tag</h2>

		<form id="editTag" action="$adminUrlBuilder.getEditTagUrl($tag)" method="POST" class="editForm">
            #springBind("formObject")
            #foreach($error in $status.errorMessages)
                <div class="alert">$error</div>
            #end

            <fieldset>
                #springBind("formObject.displayName")
                <label for="${status.expression}">Display name:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #springBind("formObject.description")
                <label for="${status.expression}">Description:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #springBind("formObject.parent")
                <label for="${status.expression}">Parent:</label>
                <select name="${status.expression}">
                    <option value="">
                    #foreach($parent in $parents)
                        <option value="$parent.BSONId" #if($parent.BSONId == ${status.value}) SELECTED #end>$parent.name
                    #end
                </select>
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #springBind("formObject.autotagHints")
                <label for="${status.expression}">Autotag Hints:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #springBind("formObject.featured")
                <label for="${status.expression}">Featured:</label>
                <input name="${status.expression}" type="checkbox" value="true"
                    #if($status.value == "true") checked #end />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

               #parse("includes/location_picker.vm")

				<input type="submit" value="Submit" />
			</fieldset>
		</form>

		<form action="/cancel" method="POST">
			<input type="submit" value="Cancel" />
		</form>

	</div>

    <div class="right">
        <div class="box">
            #parse("includes/latest_newsitems.vm")
        </div>
    </div>

</div>

#parse("includes/footer.vm")