#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2>Editing a feed</h2>
		<form id="editForm" action="$adminUrlBuilder.getResourceEditUrl($feed)" method="POST" class="editForm">
            <fieldset>
                #springBind("formObject.title")
                <label for="${status.expression}">Title:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #springBind("formObject.url")
                <label for="${status.expression}">URL:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #springBind("formObject.publisher")
                <label for="${status.expression}">Publisher:</label>
                <input id="publisher" name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #springBind("formObject.acceptancePolicy")
                <label for="${status.expression}">Acceptance policy:</label>
                <select name="${status.expression}">
                  #foreach($option in $acceptancePolicyOptions)
                      <option value="$option" #if($option == ${status.value}) SELECTED #end>$option
                  #end
                </select>
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #parse("includes/tagPicker.vm")

                <input type="submit" value="Submit" />
            </fieldset>
        </form>

        <form action="/cancel" method="POST">
            <input type="submit" value="Cancel" />
        </form>

    </div>

    <div class="right">
        <div class="box">
            #parse("includes/latest_newsitems.vm")
        </div>
    </div>

</div>

#parse("includes/footer.vm")