#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">
<h2>$heading</h2>

#if($editPermissionService.admin)
    <ul>
        <li class="admin"><a href="$urlBuilder.getSubmitFeedUrl()">Add new feed</a></li>
    </ul>
#end

<p>$siteInformation.sitename aggregates links from these $siteInformation.areaname related feeds.</p>

<p><a href="$urlBuilder.getAcceptedUrl()">Recently accepted newsitems</a> can be viewed.</p>

<p><a href="rssfeeds">RSS feeds</a> produced by $siteInformation.sitename are summarised <a href="rssfeeds">here</a>.</p>

<ul>
#set($letter = "")
#foreach ($feed in $main_content) 
	#set($current = $feed.name.substring(0, 1).toUpperCase())
	#if ($current != $letter)
		#set($letter = $current)		
		</ul>
		<h4>$current.toUpperCase()</h4>
		<ul>
	#end
	<li class="feedlist">
		<ul>
			<li><a href="$urlBuilder.getFeedUrl($feed)">$feed.name</a></li>
			#if ($feed.publisherName) <li class="publisher">$feed.publisherName</li> #end
		</ul>
	</li>
	
#end
</ul>

</div>

<div class="right">

<div class="box">
    <h2>Accepted counts</h2>
    <p>How many newsitems were accepted on each day.</p>
    <ul>
        #set ($first = 1)
        #foreach($acceptedDay in $acceptedDays)
             <li class="archive_link">
                <a href="$urlBuilder.getAcceptedUrl($acceptedDay.day)">$dateFormatter.formatLocalDate($acceptedDay.day)</a>
                #if ($first == 1)
                    ($acceptedDay.count accepted)
                    #set ($first = 0)
                #else
                    ($acceptedDay.count)
                #end
            </li>
        #end
    </ul>
</div>

#parse("includes/suggestions.vm")

<div class="box">
#parse("includes/righthand_content.vm")
</div>

#parse("includes/discovered_feeds.vm")

</div>
</div>

#parse("includes/footer.vm")

