#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")


	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2>Gathering newsitems for $publisher.name</h2>
	
		<p>The following newsitems might belong to this publisher:</p>

		<form action="$adminUrlBuilder.getPublisherAutoGatherUrl($publisher)" method="POST">
			<ul class="flat_list">
				#foreach($item in $gathered)
					<li>#parse("includes/content_element.vm")
					<ul>
						<li><input name="autotag" value="$item.id" type="checkbox" checked> apply publisher</li>
					</ul>		
					</li>
				#end
			</ul>
	
			<input type="hidden" name="publisher" value="$publisher.getUrlWords()">
			<input type="submit" value="Apply" />	
		</form>
	
		<form action="$siteInformation.url/cancel" method="POST">
			<input type="submit" value="cancel" />
		</form>
	</div>

</div>

#parse("includes/footer.vm")