#set ($heading = $siteInformation.tagline)
#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">		
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		#parse("includes/nearme.vm")

		#parse("includes/search_widget.vm")

		<div class="tag_main_content">

			<a name="newslog" />
			<div class="rss">
				#parse("includes/rss_widget.vm")
			</div>

			<h2>Meanwhile...</h2>
			<p>The $siteInformation.areaname Newslog is an informal roundup of the $siteInformation.areaname webspace.
				The Newslog is also available as an <a href="rssfeeds">RSS feed</a>
				#if ($siteInformation.isTwitterEnabled()) or via <a href="https://twitter.com/wellynews">Twitter</a>#end.
			</p>

			#parse("includes/main_content.vm")
		</div>

		<div class="tag_secondary_content">
			#parse("includes/secondary_content.vm")
		</div>
	</div>

	<div class="right">
		
		<div class="box">
			<a href="$siteInformation.url/about#nikau"><img src="$urlBuilder.getStaticUrl('palm.jpg')" width="255" border="0"></a>
		</div>
		
		#parse("includes/your_listing.vm")
		
		#parse("includes/geocoded.vm")
		
		#parse("includes/featured.vm")
			
		<div class="box">
			<a name="submit"></a>
			<h2>Submit</h2>
			<p>Enquiring minds want to know!</p>
			<p>Submit your $siteInformation.areaname related listings.</p>
			<ul>
				<li><a href="$urlBuilder.getSubmitWebsiteUrl()">Submit Website</a></li>
				<li><a href="$urlBuilder.getSubmitNewsitemUrl()">Submit Newsitem</a></li>
				<li><a href="$urlBuilder.getSubmitFeedUrl()">Submit Feed</a></li>
			</ul>
			
			#if ($editPermissionService.canAddWatchlistAndTag() ) 
				<ul>
					<li><a href="$urlBuilder.getSubmitWatchlistUrl()">Submit Watchlist item</a></li>
					<li><a href="edit/tag/submit">Submit Tag</a></li>
				</ul>
			#end
		</div>
		
		#parse("includes/tag_related_feed.vm")
		
		<div class="box">
			#parse("includes/archive.vm")
		</div>
		
		<div class="box">
			#parse("includes/tagless.vm")
		</div>
		
	</div>

</div>

#parse("includes/footer.vm")
