#set ($heading = $siteInformation.tagline)
#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">		
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		#parse("includes/nearme.vm")

		#parse("includes/search_widget.vm")

		<div class="tag_main_content">

			<a name="newslog" />
			<div class="rss">
				#parse("includes/rss_widget.vm")
			</div>

			<h2>Meanwhile...</h2>
			<p>The $siteInformation.areaname newslog is an informal roundup of the $siteInformation.areaname webspace.
d				The newslog is also available as an <a href="rssfeeds">RSS feed</a> or via
				<a href="https://mastodon.wellington.gen.nz/@wellynews">Mastodon</a> and <a href="https://twitter.com/wellynews">Twitter</a>.
			</p>

			#parse("includes/main_content.vm")
		</div>

		<div class="tag_secondary_content">
			#parse("includes/secondary_content.vm")
		</div>
	</div>

	<div class="right">
		
		<div class="box">
			<a href="$siteInformation.url/about#nikau"><img src="$urlBuilder.getStaticUrl('palm.jpg')" width="255" border="0"></a>
		</div>
		
		#parse("includes/your_listing.vm")
		
		#parse("includes/geocoded.vm")
		
		#parse("includes/featured.vm")
			
		<div class="box">
			<a name="submit"></a>
			<h2>Submit</h2>
			<p>Enquiring minds want to know!</p>
			<p>Submit your $siteInformation.areaname related listings.</p>
            <ul>
                #foreach($action in $submitActions)
                    <li><a href="$action.link">$action.label</a></li>
                #end
            </ul>
		</div>
		
		#parse("includes/tag_related_feed.vm")
		
		<div class="box">
			#parse("includes/archive.vm")
		</div>
		
		<div class="box">
			#parse("includes/tagless.vm")
		</div>
		
	</div>

</div>

#parse("includes/footer.vm")
