#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2>Submitting a news item</h2>
		
		<form id="newNewsitem" action="/new-newsitem" method="POST" class="editForm">
            #springBind("formObject")
            #foreach($error in $status.errorMessages)
                <div class="alert">$error</div>
            #end

            <fieldset>
                #springBind("formObject.title")
                <label for="${status.expression}">Title:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end
                #springBind("formObject.url")
                <label for="${status.expression}">URL:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #springBind("formObject.publisher")
                <label for="${status.expression}">Publisher:</label>
                <input id="publisher" name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #springBind("formObject.date")
                <label for="${status.expression}">Date:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #parse("includes/location_picker.vm")

                #springBind("formObject.description")
                <label for="${status.expression}">Description:</label>
                <textarea name="${status.expression}" rows="6" cols="40">$!{status.value}</textarea>
                <br />
                #foreach($error in $status.errorMessages)
                   <div class="alert">$error</div>
                #end

				<input type="submit" value="Submit" />
			</fieldset>
		</form>
	
		<form action="/cancel" method="POST">
			<input type="submit" value="Cancel" />
		</form>

	</div>

    <div class="right">
        <div class="box">
            #parse("includes/latest_newsitems.vm")
        </div>
    </div>

</div>

#parse("includes/footer.vm")