#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>


<div class="main">
	
	#if($item && $item.publisherName)
		#if ($item.publisherUrl) 
			<h2><a href="$item.publisher.url">$item.publisherName</a></h2>
		#else
			<h2>$item.publisherName</h2>		
		#end
	#end
	
	#if($geocoded)
		<div id="map" style="width: 520px; height: 520px"></div>
		#parse("includes/geocodedjs.vm")
	#end
		
	<ul class="flat_list">
		<li class="content_item">
			<ul class="main_content_item">
				#parse("includes/content_element.vm")
			</ul>
		</li>
	</ul>
	
	#if ($item.type == "N" && $item.feed)
		<p>#parse('includes/accepted_details.vm')</p>
	#end
			
	<h2>Tagging</h2>

	<h3>Hand taggings</h3>
	<p>These tags have been manually added to this item.</p>
    <ul>
        #foreach ($tagging in $hand_taggings)
            <li>
                $tagging.tag.name - $tagging.explanation

            </li>
        #end
	</ul>

    <h3>Geotag votes</h3>
    <p>These taggings where considered when deciding the location for this item.<p>
    <ul>
        #foreach ($vote in $geotag_votes)
            <li>$geocode.address - $tagging.explanation</li>
        #end
    </ul>

	<h3>Index tags</h3>
	<p>Theses tags have been used to index this item.<p>
	<ul>
        #foreach ($tagging in $index_taggings)
            <li>$tagging.tag.name - $tagging.explanation</li>
        #end
	</ul>

	<hr/>

	#if($votes.size() > 0) 
		<p>This item has had the following tags applied to it:</p>					
		<ul>
		#foreach($vote in $votes)
			<li><a href="$urlBuilder.getTagUrl($vote.tag)">$escape.html($vote.tag.displayName.toLowerCase())</a> 
				
			#if($vote.voter.profilename) 
				by <a href="$urlBuilder.getProfileUrl($vote.voter)">$escape.html($vote.voter.voterName)</a>
			#else 
				(automatically derived from $vote.voter.voterName.toLowerCase())		
			#end
			</li>	
			#end		
		</ul>		
	#else
		<p>No tags have been applied to this item.</p>
	#end
	
	
	#if($geotag_votes.size() > 0) 
		<p>This item has had the following geotags applied to it:</p>					
		<ul>
		#foreach($vote in $geotag_votes)
			<li>
			
			#if ($vote.geotag && $vote.geotag.address)		
				#if ($vote.geotag.valid) 
					<a href="$urlBuilder.getLocationUrlFor($vote.geotag)">#parse("includes/geotag_icon.vm")</a> $vote.geotag.address
				#else
					#parse("includes/geotag_icon.vm") $vote.geotag.address
				#end
			#end
												
			#if($vote.voter.profilename) 
				by <a href="$urlBuilder.getProfileUrl($vote.voter)">$escape.html($vote.voter.voterName)</a>
			#else 
				(automatically derived from $vote.voter.voterName.toLowerCase())		
			#end
			</li>	
			#end		
		</ul>
		
	#else
		<p>No geotags have been applied to this item.</p>
	#end
	
	
	<p>Add tags to this items:</p>
	<form id="editForm" action="$urlBuilder.getPublicTaggingSubmissionUrl($item)" method="POST">
		<input type="hidden" name="resource" value="$item.id" />
		#parse("includes/tag_edit_fields.vm")				
		<input type="submit" value="Update tags" />
	</form>
	
</div>


<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>


</div>

</div>

#parse("includes/footer.vm")