#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>


<div class="main">
	
	#if($item && $item.publisherName)
		#if ($item.publisherUrl) 
			<h2><a href="$item.publisher.url">$item.publisherName</a></h2>
		#else
			<h2>$item.publisherName</h2>		
		#end
	#end
	
	#if($geocoded)
		<div id="map" style="width: 520px; height: 520px"></div>
		#parse("includes/geocodedjs.vm")
	#end
		
	<ul class="flat_list">
		<li class="content_item">
			<ul class="main_content_item">
				#parse("includes/content_element.vm")
			</ul>
		</li>
	</ul>
	
	#if ($item.type == "N" && $item.feed)
		<p>#parse('includes/accepted_details.vm')</p>
	#else
	    <p>Submitted by $item.owner</p>
	#end
			
	<h2>Tagging</h2>

	<h3>Hand taggings</h3>

	#if($hand_taggings.size() > 0)
    	<p>These tags have been manually added to this item:</p>
        <ul>
            #foreach ($tagging in $hand_taggings)
                <li>
                    $tagging.tag.name - $tagging.explanation
                </li>
           #end
    	</ul>
    #else
        <p>This item has not been manually tagged.<p>
    #end

    <h3>Geotag votes</h3>
    <p>These taggings contributed to this item's location:<p>
    <ul>
        #foreach ($vote in $geotag_votes)
            <li>#parse("includes/geotag_icon.vm") $vote.geocode.displayName - $vote.explanation</li>
        #end
    </ul>

	<h3>Tagging votes</h3>
	<p>These taggings contributed to this item's tags:<p>
	<ul>
        #foreach ($tagging in $tagging_votes)
            <li>$tagging.tag.name - $tagging.explanation</li>
        #end
	</ul>

	<hr/>
</div>


<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>


</div>

</div>

#parse("includes/footer.vm")