#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2>Submitting a Website</h2>
		
		<form id="newWebsite" action="/new-website" method="POST" class="editForm">
			#springBind("formObject")
			#foreach($error in $status.errorMessages)
				<div class="alert">$error</div>
			#end

            <fieldset>
                #springBind("formObject.title")
                <label for="${status.expression}">Title:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #springBind("formObject.url")
                <label for="${status.expression}">URL:</label>
                <input name="${status.expression}" class="title" value="$!{status.value}" />
                <br />
                #foreach($error in $status.errorMessages)
                    <div class="alert">$error</div>
                #end

                #parse("includes/tagPicker.vm")

				<input type="submit" value="Submit" />
			</fieldset>
		</form>
	
		<form action="/cancel" method="POST">
			<input type="submit" value="Cancel" />
		</form>

	</div>

	<div class="right">
		<div class="box">
			#parse("includes/latest_newsitems.vm")
		</div>
	</div>

</div>

#parse("includes/footer.vm")