#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")
<div class="left">

#parse("includes/related_publisher_tags.vm")

#parse("includes/tag_tree.vm")
</div>

<div class="main">

<div class="rss">
#parse("includes/rss_widget.vm")
</div>

#if ($publisher)
	<h2><a href="$publisher.url">$heading</a></h2>

	#set($page_content = $publisher)
    #if ($publisher.description)
        <p>$publisher.description</p>
    #end
    #parse("includes/page_content_hand_tags.vm")

    <ul>
        #set($item = $publisher)
        #parse("includes/content_element_admin_links.vm")
    </ul>

    #parse("includes/actions.vm")

#else
	<h2>$heading</h2>
#end

#set($geocode = $publisher.geocode)
#parse("includes/geocode.vm")

#parse("includes/search_widget.vm")

	#if($geocoded)
		<div id="map" style="width: 520px; height: 520px"></div>
		#parse("includes/geocodedjs.vm")
		<p>
	#end

    #if($main_content)
        <div class="tag_main_content">
            #if ($main_content.size() > 0)
                #parse("includes/main_content.vm")
            #end
        </div>
	#end

	<div class="tag_secondary_content">
		#set($secondary_heading = "Feeds")
		#set($secondary_content = $feeds)
		#parse("includes/secondary_content.vm")

		#parse("includes/publisher_watchlist.vm")
	</div>

</div>

<div class="right">
    #if($archive_links)
        <div class="box">
            <h2>Archive</h2>
            <p>$publisher.name has published newsitems during:<p>
            <ul>
                #parse('includes/archiveLinkList.vm')
            </ul>
        </div>
    #end

    #parse("includes/discovered_feeds.vm")

    <div class="box">
        #parse("includes/latest_newsitems.vm")
    </div>
</div>

</div>

#parse("includes/footer.vm")