#parse("includes/header.vm")

<div class="page">
    #parse("includes/topbar.vm")
<div class="left">

#parse("includes/related_publisher_tags.vm")

#parse("includes/tag_tree.vm")
</div>

<div class="main">
    <div class="rss">
        #parse("includes/rss_widget.vm")
    </div>

    <h2><a href="$urlBuilder.getPublisherUrl($publisher)">$publisher.name</a> /
        <a href="$urlBuilder.getIntervalUrl($month)">$dateFormatter.fullMonthYear($month.start.toDate())</a></h2>

    #set($page_content = $publisher)
    #if ($publisher.description)
        <p>$publisher.description</p>
    #end
    #parse("includes/page_content_tags.vm")

    <div class="main_content">
        #parse("includes/main_content.vm")
    </div>
</div>

<div class="right">
    <div class="box">
        <h2>Archive</h2>
        <p>$publisher.name has published newsitems during:<p>
        <ul>
            #foreach ($link in $publisher_archive_links)
                <li><a href="$urlBuilder.getPublisherArchiveLinkUrl($link)">$dateFormatter.fullMonthYear($link.month)</a> ($link.count)</li>
            #end
        </ul>
    </div>
    <div class="box">
        #parse("includes/latest_newsitems.vm")
    </div>
</div>

</div>

#parse("includes/footer.vm")