#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">

<h2>$heading</h2>

<p>The $siteInformation.areaname Newslog is available as an <a href="http://news.bbc.co.uk/1/hi/help/3223484.stm">RSS feed</a>.</p>
<p>To subscribe, load the following location into your feed reader:</p>
<ul>
	<li>#parse("includes/rss_icon.vm") <code>$rss_url</code></li>
</ul>

<p>The latest newsitems for individual tags are also available as RSS feeds.<br/>
Some of these feeds are shown below:</p>

<ul>
#foreach ($tag in $feedable_tags)
	#if ($tag.isHidden()) 
	#else 
		<li>#rssIcon($rssUrlBuilder.getRssUrlForTag($tag) '') $tag.displayName - <code>$rssUrlBuilder.getRssUrlForTag($tag)</code></li>
	#end
#end
</ul>

<p>A complete list of all other available feeds is available in the <a href="api">API instructions</a>.</p>

</div>

<div class="right">

<div class="box">
    #parse("includes/latest_newsitems.vm")
</div>

</div>

</div>

#parse("includes/footer.vm")