#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">
    <h2>$heading</h2>
    <p>Sign in to have your submissions assigned to you. Signing in will allow you to edit your previous submissions and tinker with things.</p>
    #parse("includes/signin_form.vm")
</div>
<div class="right">
<div class="box">
#parse("includes/latest_newsitems.vm")
<br clear="all"/>
</div>

</div>
</div>

#parse("includes/footer.vm")