#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">

		<h2><a href="$urlBuilder.feedsUrl">Feeds</a> / $heading</h2>
		
		<p>These newsitems have been seen in local feeds which may be suitable for inclusion in the newslog.
		They will be reviewed by an real person before been accepted or discarded.</p>

		<p>Feed items from these feeds are not automatically accepted for one of the following reasons:</p>
		<ul>
			<li>The feed might not contain completely Wellington centric content.</li>
			<li>The organisation concerned may publish alot of internal interest only content.</li>
		</ul>

		#if ($main_content && $main_content.size() > 0)
			#parse("includes/main_content.vm")
		#else 
			<p>There are currently no suggestions in the inbox.</p>
		#end
	</div>

	<div class="right">
		<div class="box">
			#parse("includes/righthand_content.vm")
		</div>
	</div>

</div>

#parse("includes/footer.vm")