#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")


<div class="left">
#parse("includes/related_tags.vm")

#parse("includes/tag_tree.vm")

#parse("includes/sibling_tags.vm")

</div>

<div class="main">
<div class="rss">
#parse("includes/rss_widget_for_tag.vm")
</div>

<h2><a href="$siteInformation.url/comment">Comment</a> / <a href="$urlBuilder.getTagUrl($tag)">$tag.displayName</a></h2>

#parse("includes/geocode.vm")

#parse("includes/tag_admin_links.vm")

#parse("includes/search_widget.vm")

#parse("includes/main_content.vm")

#parse("includes/tag_comment_page_links.vm")

</div>

<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>

</div>




</div>

#parse("includes/footer.vm")