#parse("includes/header.vm")
<div class="page">
#parse("includes/topbar.vm")

<div class="left">

#parse("includes/related_tags.vm")

#parse("includes/tag_tree.vm")

#parse("includes/sibling_tags.vm")
</div>

<div class="main">
<div class="rss">
#parse("includes/rss_widget_for_tag.vm")
</div>

<h2>
  	#set ($counter = 1)
    #foreach ($dtag in $tags)
            <a href="$dtag.name">$dtag.displayName</a>
            #if ($counter < $tags.size())
            and
            #end
            #set( $counter = $counter + 1 )
	#end
</h2>

#parse("includes/actions.vm")

#parse("includes/child_tags.vm")

#parse("includes/search_widget.vm")

<div class="main_content">
	#if ($main_content.empty) 
		#set($main_content = $websites)
	#end
	#parse("includes/main_content.vm")
</div>

</div>

<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>

</div>

</div>

#parse("includes/footer.vm")