#set($geocoded = $main_content)
#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
	#parse("includes/location_related_tags.vm")
	#parse("includes/location_related_publishers.vm")
	#parse("includes/tag_tree.vm")
</div>

<div class="main">

<div class="rss">
#parse("includes/rss_widget_for_geotagged.vm")
</div>

<h2><a href="$siteInformation.url/geotagged">Geotagged</a> / <a href="$urlBuilder.getTagUrl($tag)">$tag.displayName</a></h2>

<br clear="all" />

#parse("includes/nearme.vm")

<div id="map" style="width: 520px; height: 520px"></div>
#set($geocoded = $main_content)
#parse("includes/geocodedjs.vm")
#parse("includes/main_content.vm")

</div>


<div class="right">
#parse("includes/about_geotagging.vm")

<div class="box">
#parse("includes/latest_newsitems.vm")
<br clear="all"/>
</div>

</div>

</div>

#parse("includes/footer.vm")