#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/related_tags.vm")
		#parse("includes/related_publishers.vm")		
		#parse("includes/tag_tree.vm")
		#parse("includes/sibling_tags.vm")
	</div>

	<div class="main">
	
		<div class="rss">
			#parse("includes/rss_widget_for_tag.vm")
		</div>

        #parse("includes/tag_heading.vm")

        #set($geocode = $tag.place)
		#parse("includes/place.vm")
		
		#parse("includes/tag_admin_links.vm")

		#parse("includes/child_tags.vm")
		
		#if($tag.description) 
			<p>$tag.description</p>
		#end

		#parse("includes/search_widget.vm")
		
		<div class="main_content">
			#if ($main_content.empty)
				#set($main_content = $websites)
				#parse("includes/main_content.vm")
			#else
				#parse("includes/main_content.vm")
				#parse("includes/page_links.vm")
			#end						
		</div>
	</div>

	<div class="right">
		#if($tag.name == 'elections2010' || $tag.name == 'election-candidates-2010') 
			#parse("widgets/wcc_watch_poll.vm")
			#parse("widgets/scoop_election_videos_widget.vm")
			#parse("widgets/election_candidates_twitter.vm")
		#end
		
		#parse("includes/geocoded.vm")
									
		<div class="box">
			#parse("includes/latest_newsitems.vm")
			<br clear="all"/>
		</div>

	</div>

</div>


#parse("includes/footer.vm")
