#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">
<h2>$heading</h2>

#parse("includes/actions.vm")

<ul>
#set($letter = "")
#set($current = "")
#foreach ($tag in $main_content)
    #if ($tag.displayName.length() > 0)
        #set($current = $tag.displayName.substring(0, 1).toUpperCase())
    #end
    #if ($current != $letter)
        #set($letter = $current)
        </ul>
        <h4>$current.toUpperCase()</h4>
        <ul>
    #end
    <li><a href="$urlBuilder.getTagUrl($tag)">$tag.displayName</a></li>
#end
</ul>

</div>

<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>
</div>
</div>

#parse("includes/footer.vm")
