#set ($heading = $feed.name)

#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2><a href="${siteInformation.url}/feeds">Feeds</a> / $heading</h2>

		#set($page_content = $feed) 
		#parse("includes/page_content_hand_tags.vm")
		
		<ul>
            #foreach($action in $feed.actions)
                <li class="admin"><a href="$action.link">$action.label</a></li>
            #end
            #if ($feed.acceptancePolicy)
                <p>$feed.acceptancePolicy</p>
                <p>This feed is read by this <a href="$adminUrlBuilder.getWhakaokoPreviewUrl($subscription)">Whakaoko subscription</a></p>
            #end
		</ul>

        #if($feed.isScreenScraped())
            #if($feed.publisherName)
                <p>This feed is produced by screen scraping a page from the <a href="/$feed.publisherUrlWords">$feed.publisherName</a> website.</p>
            #else
                <p>This feed is provided by screen scraping a third party website.</p>
            #end
        #else
            #if($feed.publisherName)
                <p>This feed is published by <a href="/$feed.publisherUrlWords">$feed.publisherName</a>.</p>
            #else
                <p>This feed is provided by a third party.</p>
            #end
        #end

        <p>
            Added on $dateFormatter.dayMonthYear($feed.date).
		    #if ($feed.lastRead)
		        Last read $dateFormatter.timeSince($feed.lastRead).
    		#end
		</p>

		<p>To subscribe to this feed, enter the following location into your feed reader.</p>
		<ul>
			<li>#parse("includes/rss_icon.vm") <code>$rss_url</code></li>
		</ul>
					
		#if ($main_content) 
			<p>This feed currently contains the following newsitems (total count $feed_total_count):</p>
			
			#if($geocoded)
				<div id="map" style="width: 520px; height: 520px"></div>
				#parse("includes/geocodedjs.vm")
			#end

            <div class="section" id="maincontent">
                <ul class="flat_list">
					#foreach($feeditem in $main_content)
                        <li class="content_item">
                            <ul class="main_content_item">
                                #set($item = $feeditem)
                                #parse("includes/content_element.vm")
                            </ul>
                        </li>
					#end
					#if ($main_content_moreurl)
                        <li class="more"><a href="$main_content_moreurl">
							#if ($main_content_morecount) $main_content_morecount #end
                            More...</a>
                        </li>
					#end
                </ul>
            </div>
		#end

        #if($feed_error)
			<p>There was a problem loading this feed. No feed newsitems could be displayed: $feed_error</p>
        #end
	</div>

	<div class="right">
		<div class="box">
			#parse("includes/righthand_content.vm")
		</div>
	</div>
</div>

#parse("includes/footer.vm")