<h1>Transport</h1>
<div id="newsitems"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
<script>
    $.getJSON("/transport/json", function(data) {
        renderNewsitems(data);
    });

    function renderNewsitems(data) {
        $.each(data, function(i,item) {
            $("<li><a href=\"" + item.url + "\">" + item.headline + "</a><br/>" + item.date + '<br/>' + item.description + "</li>").appendTo("#newsitems");
            if ( i == 3 ) return false;
        });
	};
</script>