<h1>Transport</h1>
<div id="newsitems"></div>

<script src="$urlBuilder.getStaticUrl('jquery-1.3.2.js')"></script>
<script>
 	$(document).ready(function() {
 		$.getJSON("http://wellington.gen.nz/transport/json?callback=?", function(data) {renderNewsitems(data)});
 	});

	function renderNewsitems(data) {
		$.each(data.newsitems, function(i,item) {
			$("<li><a href=\"" + item.url + "\">" + item.title + "</a><br/>" + item.date + '<br/>' + item.description + "</li>").appendTo("#newsitems");
			if ( i == 3 ) return false;
		});		
	};
</script>
