Package: wellynews
Version: %VERSION%
Depends: tomcat6, apache2, memcached, rabbitmq-server, mysql-server
Section: wellynews
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Tony McCrae [tony@eelpieconsulting.co.uk]
Provides: wellynews
Description: Wellynews

