#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")



<div class="left">
#parse("includes/tag_tree.vm")
</div>





<div class="main">









<h2>$heading</h2>

<p><i>Search $site_information.areaname</i> is ${site_information.areaname}'s own regional web directory.</p>
  
<p>The <i><a href="index#newslog">${site_information.areaname} Newslog</a></i>
draws in notices and newsitems published by local organisations. The resulting 
content isn't going to be what you'll find in a newspaper but we think that's 
half the attraction.</p>


<p>The Newslog appears daily on the front page of Search $site_information.areaname and is also available
as an <a href="feeds">RSS feed</a>. It is also possible to generate 
<a href="feeds#custom">custom RSS feeds</a> of content from specific organisations listed in the archive.</p>






<h3>I do not want my content indexed</h3>

<p>Search Wellington honours the <a href="http://en.wikipedia.org/wiki/Robots_Exclusion_Standard">robots exclusion standard</a>.
Organisations can indiciate in their robots.txt that Search Wellington should not index their content.</p>

<p>The following lines in your robots.txt file will result in your content been removed from the index:</p>

<ul>
	<li><code>User-agent: searchwellington<br />
	Disallow: *</code></li>
</ul>


<o>You can also <a href="#contact">contact us directly</a> to request exclusion.</p>






<a name="contact"></a>
<h3>Contact</h3>

<p>
Search $site_information.areaname is edited from the frozen waste lands of Twickenham, 
London by an <a href="http://wah.wellington.gen.nz">expatriate Wellingtonian</a>. New site 
<a href="index#submit">submissions</a> are always welcomed.
</p>

<p>Any enquires should be directed to <code>enquires (at) wellington.gen.nz</code></p>





<a name="nikau"></a>
<h3>Nikau Palms</h3>

<img src="/images/civic8.jpg" align="right"
alt="Nikau Palm in the Civic Square" />

<p><i>Right</i> - One of the copper clad Nikau palm trees which dot the Civic Square and line the exterior of the Central Library building.</p>

<p>
Valued at $25,000 NZ each, these
additions to the Square 
were suggested by the architect Ian Athfield as a way of making the area 
more inviting. The Nikaus have become somewhat of an icon for Wellington 
City.
</p>

<p>The Nikau, is a distinctive New Zealand native tree. Reassembling a 
feather duster, it grows to approximately 20ft.</p>

<p>The Nikau palm is found 
throughout New Zealand, growing as far south as Christchurch. While the trunk 
of this tree is of no use for building it's large leaves 
provided useful 
shelter for the early Maori, who also ate the young shots and buds. Wood 
Pigeons consume the berries in large quantities. The Nikau berry is 
extremely hard and was sometimes used as shotgun ammunition by early 
settlers. 
</p>
<p>
<br />

<a name="software"></a>
<h2>Software</h2>

<p>This site uses a custom piece of software to aggregate and index ${site_information.areaname} related content. Here is an overview of the system.</p>


<h3>Technical</h3>

<p>The system is implemented as a Java / Spring application running on the Tomcat application server. Mysql And Solr provide the indexing functionality.
We're working towards making the source code available in the near future.</p>


<h3>Data Model</h3>

<p>The directory accepts four main categories of listing; websites, news items, feeds and watch list items.</p>

<p>A website represents a local organization's website. 

A news item is a link to a post or media release on a local site. News items are the content type that we are
most interested in. A feed represents an RSS or ATOM feed. A watch list item represents a page which is known to content news items
which should be watched for updates (see News Watchlist below).</p>

<p>News items, feeds and watchlist items can be assigned to their source website.
A website with has published other listings is referred to as a publisher.</p>


<h3>Tagging</h3>

<p>All listings can be tagged with Flickr style tags; these tags can be nested to form a navigation tree.</p>


<h3>Types of pages</h3>

<p>Listings are displayed on several different types of page.</p>

<p><b>Tag pages</b><br/>
Displays news items and websites with tagged with the given tag.</p>

<p>
ie. the <a href="/transport">transport tag page</a>.</p>
<p>
Tag pages also pull in all news items tagged with tags which are children of this tag
and news items from publishers which are tagged with this tag.<p>

<p><b>Publisher pages</b><br />
Displays all news items from a given publisher.
</p>

<p><b>Combinations</b><br />
Returns newsitems tagged with a combination of two tags, or a publisher and a tag.
<p>
ie. all news items tagged with <a href="/transport+consultation">transport and consultation</a> and all news items 
<a href="/wellington-city-council+indoorsportscentre">Wellington City Council media releases tagged with indoor sports centre</a>.</p>




<h4>Discovering and Importing Content</h4>

<h3>Public submissions</h3>

<p>Site users may directly submit websites, news items and feeds.</p>


<h3>Manual acceptance of news items from feeds</h3>

<p>The <a href="/feed/cricket-wellington-news">view feed screen</a> prompts a logged in editor with options
	to manually accept a newsitem from a feed. Accepted news items
	are automatically assigned to the correct publisher.</p>


<h3>Automatically reading news items from feeds</h3>

<p>Submitted feeds are checked periodically for new news items by the automatic feed reader.</p>

<p>Some feeds are known to always contain good, relevant content. ie. the local council's press releases. Other feeds might contain mainly
internal interest only content which is not of wider interest; ie. the universities' staff notices.</p>

<p>To control these decisions, each feed has a feed acceptance policy which controls what todo with news items discovered in that feed.</p>

<p><b>Accept</b><br/>
Accept all news items from the feed and publish them immediately, if they are dated within the last week.
</p>

<p><b>Accept even without dates</b><br/>
Accept and publish, even if no publication date is given.</p>

<p><b>Suggest</b><br/>
No not publish, but make a note of new items so that an editor may review them.
Suggestions appear in the feeds inbox where they await processing (see below).
</p>

<p><b>Ignore</b><br/>
Do nothing.</p>




<h3>Supressing feed news items</h3>

<p>News items in feeds may be supressed by url; suppressing prevents a feed newsitem
from been automatically expected in the future. Supressions can be used to prevent a
deleted news item been reimported by the feed reader.</p>


<h3>Feed autotagging</h3>
<p>
News items accepted from a feed are automatically tagged with the feed's tags, and any matching place names.
</p>


<h3>The Feeds Inbox</h3>

<p>The <a href="/feeds/inbox">feed inbox</a> screen lists suspected news items which the feed reader has discovered in feeds
with an acceptance policy set to suggest.  Items in the inbox may be accepted or suppressed by an editor.</p>


<h3>The News Watchlist</h3>

<p>Many organizations who provide news items do not provide feeds. The <a href="/watchlist">watchlist</a> attempts to monitor 
pages on these sites (say the news archive page) for changes, which could indicate new content.</p>

<p>The watchlist is exported as an RSS feed so that an editor can monitor it. All of the changed pages
may be opened at once using Firefox's 'open all in tabs' option.</p>

<h3>Feed autodiscovery</h3>

<p>When checking submitted urls, the system system looks for RSS and ATOM auto discovery links in the HTML.</p>

<p>Any discovered urls are stored and available for review on the <a href="/feeds/discovered">discovered feeds</a> screen. 
This sceen and be helpful in identifing when an existing local website begins to provide feeds for the first time.</p>


<h3>Comment feed discovery</h3>

<p>When indexing newsitems, the sytem will look for, or attempt to guess, the url of that news items comment feed.
If a comment feed is discovered, the comments will be imported and made available for keyword searching. 
The first three comments will be displayed as a teaser to encourage users to visit the original site and comment there.</p>



<h3>Twitter integration</h3>

<p>The obligatorily web 2.0 feature.</p>

<p>An as experiment, we recently began echoing our RSS feed onto <a href="http://twitter.com/wellynews">twitter</a>. To our
surprise, the uptake of this feed was considerably greater than that of the existing RSS feeds. Furthermore, we started to notice twitter users 
rebroadcasting these posts (RT'ing) and adding small comments.<p>

<p>To try and capture some of this reaction, the system now correlates twitter replies with the orginal news item listing.
Milage varies; the results are shown on the <a href="/twitter">twitter screen</a> and inline on tag pages; the <a href="/transport">transport
tag page</a> typically has a few of these. 
</p>


<h4>Getting content back out of the system</h4>

<p>By running an aggregator, we're taking a slight liberty with other peoples content.
It's therefore important we've transparent about what we're doing. To this end, our index is available in a machine readable form 
for reuse by other members of the community.

<p>ie. <a href="http://wellingtonista.com/">The Wellingtonista</a> use our feed in to populate their 'Wellington News' right hand column widget.<p>

<p>Our ethos is, if we use a piece of data to render one of our own pages, then generally that data should also be available as a feed</p>


<h3>RSS and JSON feeds</h3>

<p>All of the main page types are available as an RSS or JSON feed. Appending /rss or /json to a site url
will in most cases provide the underlying data in the desired format. (credit - this url scheme is inspired by the Guardian newspaper's site)</p>

<p>The complete range of available feeds is documented in the <a href="/api">API instructions</a>.</p>



</div>












<div class="right">

#parse("includes/login.vm")



<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>


</div>

</div>

#parse("includes/footer.vm")