#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")


<div class="left">

#parse("includes/tag_tree.vm")


</div>


<div class="main">

<div class="rss">
#parse("includes/rss_widget_for_publisher.vm")
</div>


<h2>$heading</h2>

<center>
<img src="/images/wordel.png" width="520">
</center>
<br />
Word cloud by <a href="http://www.wordle.net/">Wordle</a>

<p>A number of large news organisations have begun to provide <a href="http://www.guardian.co.uk/open-platform">APIs to their content</a>. 
These services allow content to be queried programmatically and easierly used in mash ups.</p>

<p>The Wellynews API lets you do something simular with local newsitems.</p>

<p>The API allows indexed newsitems to be extracted in RSS or JSON (Javascript) formats.</p>

<p>Queries are specficed by manipulating the urls.</p>


<h3>Supported Queries</h3>


<p><b>Tag newitems</b></p>

<p>Returns newsitems tagged with a given tag.</p>
	
	<ul>
	<li><code>$site_information.url/[tag url snippet]/[rss|json]</code>
	</ul>

<p>ie. All newsitems tagged with soccer.</p>

	<ul>
	<li><code>
	<a href="$site_information.url/soccer/rss">$site_information.url/soccer/rss</a>
	</code></li>
	</ul>


<p><b>Publisher newsitems</b></p>

<p>Returns newsitems published by a specific organisation.</p>

	<ul>
	<li><code>$site_information.url/[publisher url snippet]/[rss|json]</code>
	</ul>

<p>ie. newsitems published by the Capital Times:</p>

	<ul>
	<li><code>
	<a href="$site_information.url/capital-times/rss">$site_information.url/capital-times/rss</a>	
	</code></li>
	</ul>

<p><b>Combinations</b></p>

<p>Returns newsitems tagged with a combination of two tags, or a publisher and a tag. 
Some of these combinations can be quite useful.</p> 

	<ul>
	<li><code>$site_information.url/[tag|publisher]+[tag]/[rss|json]</code>
	</ul>

ie. newsitems tagged with transport and consultation and Wellington City Council media releases tagged with indoor sports centre</a>.
</p>

	<ul>
	<li><code>
	<a href="$site_information.url/transport+consultation/rss">$site_information.url/transport+consultation/rss</a>
	</code></li>

	<li><code>
		<a href="$site_information.url/wellington-city-council+indoorsportscentre/rss">
		$site_information.url/wellington-city-council+indoorsportscentre/rss</a>
		</code>
	</li>
	</ul>

<p>The combination url scheme was shameless inspired by the Guardians' tag combiners.</p>

<p><b>All tags</b></p>

<p>Returns a list of all available tags.<p>

	<ul>
	<li><code>$site_information.url/tags/[rss|json]</code>
	</ul>

<h3>Supported Formats</h3>

<p>Newsitems can be returned in RSS or JSON format. The desired format is specified by appending ethier <code>rss</code> or <code>json</code>
to the end of the query url.</p>

<p>ie. Transport newsitems in JSON format:</p>

	<ul>
	<li><code>$site_information.url/transport/json</code></li>
	</ul>


<h3>Specifing tags and publishers</h3>

<p>In the url formats described above, tags and publishers are specified by subsituting the approriaite url snippet into
the url. A complete list of available tag and publisher url snippets is shown below.
</p>





<b>Available Tags</b>	
<table>
	<tr><td>Tag</td><td>URL snippet</td></tr>
	#foreach($item in $api_tags)
		<tr><td>$item.displayName</td>
		<td><code>$item.name</code></td></tr>
	#end
</table>


<b>Available Publishers</b>
<table>
	<tr><td>Publisher</td><td>URL snippet</td></tr>
	#foreach($item in $publishers)
		<tr><td>$item.name</td>
		<td><code>$item.urlWords</code></td></tr>
	#end
</table>	



</div>

<div class="right">
#parse("includes/login.vm")



<div class="box">
#parse("includes/archive.vm")
</div>

<div class="box">
#parse("includes/latest_newsitems.vm")
</div>

</div>

</div>

#parse("includes/footer.vm")