#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")


<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">
<h2>$heading</h2>

#if ($commented_tags.size() > 0)
<ul class="childtags">
#foreach ($commented_tag in $commented_tags)
	<li><a href="$site_information.url/tag/$commented_tag.name/comment">$commented_tag.displayName</a>
#end
</ul>
#end

<p>These newsitems have comments.</p>

#parse("includes/main_content.vm")
</div>


<div class="right">
#parse("includes/login.vm")

<div class="box">
#parse("includes/latest_newsitems.vm")
<br clear="all"/>

</div>

</div>

</div>


#parse("includes/footer.vm")