#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")



<div class="left">
#parse("includes/tag_tree.vm")
</div>





<div class="main">


<h2>$heading</h2>

#if ($user)
			
	<form action="save" method="POST"> 
		<fieldset>
		
			<label for="name">Your name (optional): </label>
			<input name="name" value="$!user.name" size="40" />
			<br />
			
			<label for="url">Blog or website URL (optional): </label>
			<input name="url" value="$!user.url" size="40" />
			<br />
			
			<label for="bio">About yourself in fewer than 30 words (optional): </label>
			<textarea name="bio" cols="50" rows="4"/>$!user.bio</textarea>
			<br />
						
						
			<input type="submit" value="Update profile" />		
						
		</fieldset>
	</form>
#end

</div>




<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>


</div>

</div>

#parse("includes/footer.vm")