#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")


<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">
<h2>$heading</h2>

<p>The newslog was last changed $last_updated.</p>
#parse("includes/main_content.vm")
</div>



<div class="right">
#parse("includes/login.vm")



</div>

</div>

#parse("includes/footer.vm")