<h2>Link Checker Show Status</h2>

<p>The queue currently contains $queue_contents.size() items.</p>

<hr>
#if ($queue_contents.size() > 0) 
<ul>
	#foreach($item in $queue_contents)
		<li>$item.name</li>
	#end	
</ul>
<hr>
#end

