#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")



<div class="left">
#parse("includes/tag_tree.vm")
</div>


<div class="main">

	<h2>Newsitem</h2>
		
	<ul class="flat_list">
		<li class="content_item">
			<ul class="main_content_item">
				#parse("includes/content_element.vm")
			</ul>
		</li>
	</ul>

</div>


<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>


</div>

</div>

#parse("includes/footer.vm")