#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")



<div class="left">
#parse("includes/tag_tree.vm")
</div>


<div class="main">
	
	#if($item && $item.publisher)
		<h2><a href="$item.publisher.url">$item.publisher.name</a></h2>
	#end
		
	#if($geocoded)
		<div id="map_canvas" style="width: 520px; height: 520px"></div>
		#parse("includes/geocodedjs.vm")
	#end
		
	<ul class="flat_list">
		<li class="content_item">
			<ul class="main_content_item">
				#parse("includes/content_element.vm")
			</ul>
		</li>
	</ul>
			
	<h2>Tagging</h2>
	
	#if($votes.size() > 0) 
		<p>This item has had the following tags applied to it:</p>					
		<ul>
		#foreach($vote in $votes)
			<li><a href="$urlBuilder.getTagUrl($vote.tag)">$escape.html($vote.tag.displayName.toLowerCase())</a> 
				
			#if($vote.voter.profilename) 
				by <a href="$urlBuilder.getProfileUrl($vote.voter)">$escape.html($vote.voter.voterName)</a>
			#else 
				(automatically derived from $vote.voter.voterName.toLowerCase())		
			#end
			</li>	
			#end		
		</ul>
		
	#else
		<p>No tags have been applied to this item.</p>
	#end
	
	<p>Add tags to this items:</p>
	<form id="editForm" action="$urlBuilder.getPublicTaggingSubmissionUrl($item)" method="POST">
		<input type="hidden" name="resource" value="$item.id" />
		#parse("includes/tag_edit_fields.vm")				
		<input type="submit" value="Update tags" />
	</form>
	
</div>


<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>


</div>

</div>

#parse("includes/footer.vm")