#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")



<div class="left">
#parse("includes/tag_tree.vm")
</div>





<div class="main">

<h2>$heading</h2>


<p>New newsitems found on local feeds which may be suitable for inclusion.</p>


#if ($main_content && $main_content.size() > 0) 
	#parse("includes/main_content.vm")
#else 
	<p>The are currently no suggestions in the inbox.</p>
#end

</div>




<div class="right">

#parse("includes/login.vm")

#if ($submissions)
	<div class="box">
	<h2>Twitter Inbox</h2>
	
	<p>These tweets could be reader submissions.</p>
	
	#set ($righthand_content_one = $columnSplitter.left($submissions))
	#set ($righthand_content_two = $columnSplitter.right($submissions))
	#parse("includes/righthand_two_columns.vm")
	</div>
#end


</div>


</div>

</div>

#parse("includes/footer.vm")