#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")


	<div class="left">

    <div class="yellow" >   
                        <h5>Wellington Community Net Funding E-Petition</h5>                                        
                        <p>
                        <a href="http://www.wcn.net.nz">
                        <img src="http://wcn.net.nz/templates/wcn3/images/wcn-logo-030403_120x84.gif" width="80" height="50" align="left" hspace="10" border="0" ></a>
                        
                        <a href="http://www.wcn.net.nz">Wellington Community Net</a>, a free website hosting and support service for community groups
                        <a href="http://wellington.scoop.co.nz/?p=6073">is under threat.</a>
                        </p>
                        
                        <p>
                        You can help WCN by signing the <strong><a href="http://www.wellington.govt.nz/haveyoursay/e-petitions/ep/details/77" 
                        title="Include Wellington Community Net and Community ICT Funding In The Draft LTCCP for 2009-2019">e-petition</a></strong> 
                        <br /> 
                        <font size="-2">* Search Wellington is not affiliated with WCN</font>
                        </p>                                
                </div>
                			
		#parse("includes/related_tags.vm")
		#parse("includes/related_publishers.vm")
		#parse("includes/tag_tree.vm")
		#parse("includes/sibling_tags.vm")
	</div>
	


	<div class="main">
		<div class="rss">
			#parse("includes/rss_widget_for_tag.vm")
		</div>

		#if ($tags && $tags.size() > 1)
			<h2>
  			#set ($counter = 1)
        	#foreach ($dtag in $tags)
                <a href="$dtag.name">$dtag.displayName</a>
                #if ($counter < $tags.size())
                	+
                #end
                #set( $counter = $counter + 1 )
   			#end
		   	</h2>	
			<p>Listings tagged with both $heading. <br/>
			Select an individual tag to see all listings for that tag.</p>			
		#else
			#if ($tag.parent) 
				<h2><a href="$site_information.url/$tag.parent.name">$tag.parent.displayName</a> / $tag.displayName</h2>
			#else
				<h2>$tag.displayName</h2>
			#end
	
			#parse("includes/tag_admin_links.vm")	
			#parse("includes/child_tags.vm")
		#end

		#parse("includes/search_widget.vm")

		#parse("includes/468x60ad.vm")

		<div class="tag_main_content">
			#if ($tag.getMainImage()) 
				<img src="$urlBuilder.getImageUrl($tag.getMainImage())" width="320" hspace="0" vspace="0">
			#end
	
			#set($main_heading = "$tag.getDisplayName() related newsitems")
			#if ($commented_newsitems)
				#set($main_content = $contentDeduper.dedupeNewsitems($main_content, $commented_newsitems))
			#end
	
			#parse("includes/main_content.vm")
						
			#parse("includes/tag_page_links.vm")
		</div>


		<div class="tag_secondary_content">
			#if ($tag.getSecondaryImage())
				<img src="$urlBuilder.getImageUrl($tag.getSecondaryImage())" width="190" hspace="0" vspace="0">
			#end

			#if ($commented_newsitems)
				#parse("includes/commented_tagged_newsitems.vm")
			#end

			#set($secondary_heading = "Related sites")
			#set($secondary_content = $websites)
			#parse("includes/secondary_content.vm")
	
			#parse("includes/tag_watchlist.vm")
		</div>
		
	</div>



	<div class="right">	
		#parse("includes/login.vm")
		#parse("includes/flickr_group_tag.vm")
	
		#if($last_changed)
			<p>Last updated $dateFormatter.timeSince($last_changed)</p>
		#end
	
		#parse("includes/tag_related_feed.vm")
	
		#parse("includes/twitterBadge.vm")
			
		#parse("includes/geocoded.vm")
		
		#parse("includes/tag_feeds.vm")	
	
		<div class="box">
			#parse("includes/latest_newsitems.vm")
			<br clear="all"/>
		</div>
		
	
		#parse("includes/tag_calendars.vm")	
		#parse("includes/tagless.vm")	
	</div>


</div>


#parse("includes/footer.vm")