#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")



<div class="left">
#parse("includes/tag_tree.vm")
</div>


<div class="main">

<h2>$heading</h2>

<p>You can now follow the <a href="index#newslog">${site_information.areaname} Newslog</a> on <a href="http://www.twitter.com">Twitter</a>.</p>

<p>The Twitter name to follow is: 
<code><a href="http://www.twitter.com/${site_information.twitterUsername}">@${site_information.twitterUsername}</a></code></p>


<h3>Submitting newsitems via Twitter</h3>

<p>You can also submit your ${site_information.areaname} related newitems via Twitter.
Follow @${site_information.twitterUsername} then twitter your submission as a reply using this format:
</p>

<ul>
<code>@${site_information.twitterUsername} (headline) (url)</code>
</ul>

<ul>
ie. <code>@${site_information.twitterUsername} The newslog now accepts twitters http://www.wellington.gen.nz/twitter</code>
</ul>

<p>Twittered newsitems will appear in the newslog with a credit linking back to the submitting 
Twitter account.</p>


<p>This service was shamelessly inspired by the 
<a href="http://www.twitter.com/freewellington"></code>@freewellington</code></a> Twitter bot.<br/>
We make use of the <a href="http://code.google.com/p/java-twitter/">Java Twitter</a> library.<br/>
Twitter badge code provided by <a href="http://chrisjf.blogspot.com/2007/03/chris-forbes-original-twitter-badge.html">ChrisJF</a>.
</p>


</div>


<div class="right">
#parse("includes/login.vm")


<div class="box">
#parse("includes/twitterBadge.vm")
</div>


<div class="box">
#parse("includes/latest_twitters.vm")
</div>


#if ($twitterReplies) 
<div class="box">
#parse("includes/twitter_replies.vm")
</div>
#end

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>


</div>

</div>

#parse("includes/footer.vm")