<div class="box">

<h2>Neighbourhood Cats</h2>
<iframe width="250" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=111344968759306577836.0004794b15d7dd811ed86&amp;ll=-41.297413,174.778748&amp;spn=0.064484,0.086174&amp;z=12&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=111344968759306577836.0004794b15d7dd811ed86&amp;ll=-41.297413,174.778748&amp;spn=0.064484,0.086174&amp;z=12&amp;source=embed" style="color:#0000FF;text-align:left">Neighbourhood Cats</a> in a larger map</small>
</div>