#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")


<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">
<h2>Accepting a Feed Item</h2>

<form id="editForm" action="/save" method="POST">
	<input name="resource" value="$resource.id" type="hidden" />
	<input name="type" value="N" type="hidden" />	
	<fieldset>
					
		<p><label for="title">Title: </label>
		<input name="title" value="$resource.name" /></p>
		
		<p><label for="url">Url: </label>	
		<input name="url" value="$resource.url" /></p>
		
		<p><label for="date">Date: </label>	
		<input name="date" value="$dateFormatter.dayMonthYear($resource.date)" /></p>

		<p><label for="date">Publisher: </label>	
		<input name="publisherName" value="$resource.publisherName" /></p>
		
		<p>Accepting from: $resource.feed.name</p>
		<input name="acceptedFromFeed" value="$resource.feed.urlWords" type="hidden" />
												
		#if ($resource.image)
			<img src="$resource.image.url" align="right" vspace="10">
			<br>
			<input name="image" value="$resource.image.url" />
		#end
		
		#parse("includes/tag_edit_fields.vm")
						
		<p>			
		<label for="description">Description: </label>
		<textarea name="description" rows="6" cols="50">$resource.description</textarea>
		</p>
		
		#parse("includes/geocodeFields.vm")
				
		#parse("includes/moderation_fields.vm")
		
		<input type="submit" value="Save" />	
	
	</fieldset>
	
</form>

<form action="../cancel">
	<input type="submit" value="Cancel" />
</form>

</div>


<div class="right">



</div>

#parse("includes/footer.vm")
