#set ($heading = $dateFormatter.fullMonthYear($archive_month.month))

#parse("includes/header.vm")

<div class="page">
    #parse("includes/topbar.vm")

    <div class="left">
        #parse("includes/tag_tree.vm")
    </div>

    <div class="main">
        <div class="rss">
            #parse("includes/rss_widget_for_publisher.vm")
        </div>

        <h2><a href="$site_information.url/archive">Archive</a> / $heading</h2>
        #parse("includes/search_widget.vm")

        #if ($previous_page || $next_page)
            #if ($previous_page)
                <a href="$urlBuilder.getArchiveLinkUrl($previous_page)">$dateFormatter.fullMonthYear($previous_page.month)</a>
            #end
            |
            #if ($next_page)
                <a href="$urlBuilder.getArchiveLinkUrl($next_page)">$dateFormatter.fullMonthYear($next_page.month)</a>
            #end
        #end

        #parse("includes/main_content.vm")
    </div>

    <div class="right">

        <div class="box">
            #parse("includes/archive.vm")
        </div>

        <div class="box">
            <h2>Publishers</h2>
            <p>$publishers.size()</p>
           <ul>
                #foreach ($publisher in $publishers)
                    <li><a href="$urlBuilder.getPublisherArchiveLinkUrl($publisher.publisher, $publisher.date)">$publisher.publisher.name $publisher.count</a></li>
                #end
            </ul>
        </div>

        <div class="box">
            #parse("includes/latest_newsitems.vm")
        </div>
    </div>

</div>

#parse("includes/footer.vm")
