#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">

<h2>$heading</h2>

<ul>
#set($year = 0)
#foreach ($link in $archiveLinks) 
	#set($current = $dateFormatter.year($link.month))
	#if ($current != $year)
		#set($year = $current)		
		</ul>
		<h4>$year</h4>
		<ul>
	#end
	<li><a href="$urlBuilder.getArchiveLinkUrl($link.month)">$dateFormatter.fullMonthYear($link.month)</a> ($link.count)</li>
#end
</ul>

</div>

<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>
</div>
</div>

#parse("includes/footer.vm")
