#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")



<div class="left">
#parse("includes/tag_tree.vm")
</div>





<div class="main">

<h2>$heading</h2>

<p>The following feed urls have been automatically discovered while indexing pages.
Sometimes, something interesting washes up here.</p>

<p>Your mileage may vary. Might be useful; might not be. </p>




<ul class="flat_list">
#foreach($discovered_feed in $discovered_feeds)	
	<li class="content_item">
		<ul class="main_content_item">
			<li>$discovered_feed.url</li>
			<li>Found in $discovered_feed.references.size() places.</li>		
			<ul class="quotes">
			#foreach($reference in $discovered_feed.references)
				#if($velocityCount <= 3)
					<li>$reference.name</li>
				#end
			#end
			</ul>		
		</ul>
	</li>
#end
</ul>


</div>




<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")
<br clear="all"/>

</div>


</div>

</div>

#parse("includes/footer.vm")