#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2>Editing a Resource</h2>

		#if ($resource)
			<form id="editForm" action="save" method="POST">
				<input type="hidden" name="resource" value="$resource.id" />

				<fieldset>					
				
					#parse("includes/form_resource_title_and_url.vm")
									
					#if ($resource.type != "W")
						<label for="date">Date: </label>	
						<input name="date" #if($resource.date) value="$dateFormatter.formatDate($resource.date, 'd MMM yyyy')" #end />
					#else
						<input name="date" #if($resource.date) value="$dateFormatter.formatDate($resource.date, 'd MMM yyyy')" #end  type="hidden" />
					#end
					<br />
				
					#parse("includes/publisher_form_field.vm")
				
					#if ($user.isAdmin())
						#if ($acceptance_select) 	
							<label for="acceptance">Acceptance Policy: </label>
							$acceptance_select
							<br />
						#end
					#end
					
					#parse("includes/tag_edit_fields.vm")				
									
					<label for="geocode">Geocode: </label>
					<input name="geocode" #if($resource.geocode) value="$resource.geocode.address" #end />
					<br />
				
					<label for="description">Description: </label>
					<textarea name="description" rows="6" cols="40">$escape.html($resource.description)</textarea>
					<br />
										
					#parse("includes/moderation_fields.vm")				
																		
					<input type="submit" value="Save" />
					
				</fieldset>
		</form>
	#else
		<p>There was a problem loading this resource for editing. You may 
		not have permission to edit this paricular listing.</p>
	#end

	<form action="$site_information.url/cancel" method="POST">
		<input type="submit" value="cancel" />
	</form>

</div>

#parse("includes/footer.vm")