#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">
<h2>$heading</h2>

#if($editPermissionService.admin)
    <ul>
        <li class="admin"><a href="$urlBuilder.getSubmitFeedUrl()">Add new feed</a></li>
    </ul>
#end

<p>$site_information.sitename aggregates links from these $site_information.areaname related feeds.</p>

<p><a href="rssfeeds">RSS feeds</a> produced by $site_information.sitename are summarised <a href="rssfeeds">here</a>.</p>

<ul>
#set($letter = "")
#foreach ($feed in $main_content) 
	#set($current = $feed.name.substring(0, 1).toUpperCase())
	#if ($current != $letter)
		#set($letter = $current)		
		</ul>
		<h4>$current.toUpperCase()</h4>
		<ul>
	#end
	<li class="feedlist">
		<ul>
			<li><a href="$urlBuilder.getFeedUrl($feed)">$feed.name</a></li>
			#if ($feed.publisherName) <li class="publisher">$feed.publisherName</li> #end
		</ul>
	</li>
	
#end
</ul>

</div>

<div class="right">

<div class="box">
#parse("includes/righthand_content.vm")
</div>

#parse("includes/suggestions.vm")

#parse("includes/discovered_feeds.vm")

</div>
</div>

#parse("includes/footer.vm")

