#set($geocoded = $main_content)
#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">

<div class="rss">
#parse("includes/rss_widget_for_geotagged.vm")
</div>

<h2>$heading</h2>

<br clear="all" />

			<span class="yellow" onClick="nearMe()"><a name="nearMe">Near me</a></span>

			<form action="$site_information.url/geotagged">
				<fieldset>				
		 			<input name="location" #if ($locationQuery) value="$locationQuery" #end />
					<input type="submit" value="Search by location" />
				</fieldset>
			</form>
		
		

#if ($geotagged_tags.size() > 0)
<ul class="childtags">
#foreach ($geotagged_tag in $geotagged_tags)
	<li><a href="$urlBuilder.getTagGeocodedUrl($geotagged_tag)">$geotagged_tag.displayName</a>
#end
</ul>
#end

<div id="map_canvas" style="width: 520px; height: 520px"></div>
#parse("includes/geocodedjs.vm")
#parse("includes/main_content.vm")

#parse("includes/geotagged_page_links.vm")
</div>

<div class="right">

<div class="box">
<h2>Who, What, When and <i>Where</i>.</h2>

<p>Relevent newsitems in the <i>Welly newslog</i> are now geotagged
with location information.</p>

<p>
#parse("includes/geotag_icon.vm")
 Geotagged newsitems are indicated throughout the site using the geotag icon.
</p>

<p> Geotags are also embedded in our RSS feeds using the
<a href="http://georss.org/">GeoRSS</a> standard. A GeoRSS tagged feed item has this format:</p>

<code>
	&lt;item&gt;<br/>
	&lt;title&gt;Can you replace the Hilton?&lt;/title&gt; <br/>
	&lt;geo:lat&gt;-41.284896&lt;/geo:lat&gt; <br/>
	&lt;geo:long&gt;174.778531&lt;/geo:long&gt; <br/>
	&lt;/item&gt;
</code>

<p>A feed containing only the geotagged newsitems is also available:</p>

#parse("includes/rss_widget_for_geotagged.vm")

<p>The location resolution service which makes this all possible is provided by the
<a href="http://code.google.com/apis/maps/index.html">Google Maps API</a>.</p>
</div>

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>

</div>

</div>

#parse("includes/footer.vm")