#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")
<div class="left">

#parse("includes/related_publisher_tags.vm")

#parse("includes/tag_tree.vm")
</div>

<div class="main">

<div class="rss">
#parse("includes/rss_widget_for_publisher.vm")
</div>

<h2><a href="$urlBuilder.getPublisherUrl($publisher.urlWords)">$publisher.name</a> / $month</h2>

	<div class="tag_main_content">
		#set($main_heading = "$publisher.getName() newsitems")
		#parse("includes/main_content.vm")	
		#parse("includes/publisher_page_links.vm")
	</div>

</div>

<div class="right">
    <div class="box">
        <h2>Archive</h2>
        <p>$publisher.name has publisher newsitems during these months.<p>
        <ul>
            #foreach ($link in $publisher_archive_links)
                <li><a href="$urlBuilder.getPublisherArchiveLinkUrl($link)">$dateFormatter.fullMonthYear($link.month)</a> ($link.count)</li>
            #end
        </ul>
    </div>
    <div class="box">
        #parse("includes/latest_newsitems.vm")
    </div>
</div>

</div>

#parse("includes/footer.vm")