#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">
<h2>Adding a New Tag</h2>

<form action="add" method="POST">
	<fieldset>
		<p><label for="name">Display Name: </label>
		<input name="displayName" value="" /></p>			
		<input type="submit" value="Add" />
	</fieldset>
</form>

<form action="../../cancel" method="POST">
	<input type="submit" value="cancel" />
</form>
</div>

#parse("includes/footer.vm")