#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")
	
	<div class="left">	    			
		#parse("includes/related_tags.vm")
		#parse("includes/related_publishers.vm")
		#parse("includes/tag_tree.vm")
		#parse("includes/sibling_tags.vm")
	</div>
	
	<div class="main">
	
		<div class="yellow">	
            #if ($searchterm)
                <p>This site has matches for '$searchterm' on the following pages:</p>
                    <ul class="childtags">
                    #foreach ($related_tag in $searchfacets)
                        <li><a href="$urlBuilder.getTagUrl($related_tag.tag)">$related_tag.tag.displayName.toLowerCase()</a> ($related_tag.count)</li>
                    #end
                    </ul>
            #end
		</div>
	
		<div class="rss">
			#parse("includes/rss_widget_for_tag.vm")
		</div>

		#if ($tags && $tags.size() > 1)
			<h2>
  			#set ($counter = 1)
        	#foreach ($dtag in $tags)
                <a href="$dtag.name">$dtag.displayName</a>
                #if ($counter < $tags.size())
                	and
                #end
                #set( $counter = $counter + 1 )
   			#end
		   	</h2>	
			<p>Listings tagged with both $heading. <br/>
			Select an individual tag to see all listings for that tag.</p>

		#else
			#parse("includes/tag_heading.vm")

            #set($location = $tag.place)
            $location
			#parse("includes/place.vm")
				
			#parse("includes/tag_admin_links.vm")	

			#if($tag.description)
				<p>$escape.html($tag.description)</p>
			#end
			
			#parse("includes/child_tags.vm")
		#end
				
		#parse("includes/search_widget.vm")
			
		<div class="tag_main_content">
			#if ($tag.getMainImage()) 
				<img src="$urlBuilder.getImageUrl($tag.getMainImage())" width="320" class="mainimage" >
			#end
	
			#set($main_heading = "$tag.getDisplayName() related newsitems")

			#parse("includes/main_content.vm")
						
			#parse("includes/tag_page_links.vm")
		</div>


		<div class="tag_secondary_content">
			#if ($tag.getSecondaryImage())
				<img src="$urlBuilder.getImageUrl($tag.getSecondaryImage())" width="190" class="mainimage">
			#end
			#set($secondary_heading = "Related sites")
			#set($secondary_content = $websites)
			#parse("includes/secondary_content.vm")

			#parse("includes/tag_feeds.vm")			
	
			#parse("includes/tag_watchlist.vm")
		</div>
		
	</div>



	<div class="right">
		#if($tag.name == 'animals' || $tag.name == 'dogs') 
			#parse("widgets/spca_widget.vm")
		#end
				
		#if($tag.name == 'elections2010' || $tag.name == 'election-candidates-2010') 
			#parse("widgets/wcc_watch_poll.vm")
			#parse("widgets/scoop_election_videos_widget.vm")
			#parse("widgets/election_candidates_twitter.vm")
		#end
				
		#if($tag.name == 'cycling') 
			#parse("widgets/cycling_blackspots.vm")
		#end

		#parse("includes/tag_related_feed.vm")
					
		#parse("includes/geocoded.vm")
		
		<div class="box">
			#parse("includes/latest_newsitems.vm")
			<br clear="all"/>
		</div>
			
		#parse("includes/tagless.vm")	
	</div>


</div>


#parse("includes/footer.vm")
