#parse("includes/header.vm")

<div class="page">
#parse("includes/topbar.vm")

<div class="left">
#parse("includes/tag_tree.vm")
</div>

<div class="main">
<h2>$heading</h2>

<ul>
#set($letter = "")
#foreach ($tag in $main_content)
	#if (!$tag.hidden)
		#set($current = $tag.name.substring(0, 1).toUpperCase())
		#if ($current != $letter)
			#set($letter = $current)		
			</ul>
			<h4>$current.toUpperCase()</h4>
			<ul>
		#end
		<li><a href="$site_information.url/$tag.id">$tag.name</a></li>
	#end
#end
</ul>

</div>

<div class="right">

<div class="box">
#parse("includes/latest_newsitems.vm")

<br clear="all"/>

</div>
</div>
</div>

#parse("includes/footer.vm")
