#set ($heading = $feed.name)

#parse("includes/header.vm")

<div class="page">
	#parse("includes/topbar.vm")

	<div class="left">
		#parse("includes/tag_tree.vm")
	</div>

	<div class="main">
		<h2><a href="${site_information.url}/feeds">Feeds</a> / $heading</h2>

		#set($page_content = $feed) 
		#parse("includes/page_content_tags.vm")
		
		<ul>
			#if ($editPermissionService.canEdit($feed)) 
				<li class="admin"><a href="${site_information.url}/edit/edit?resource=$feed.id">Edit</a></li>
				<li class="admin"><a href="${site_information.url}/edit/delete?resource=$feed.id">Delete</a></li>			
			#end
		
			#if ($editPermissionService.canDecache($feed))
				<li class="admin"><a href="${site_information.url}/admin/feed/decache?feed=$feed.id">Decache</a></li>
			#end
		
			#if ($editPermissionService.canAcceptAllFrom($feed))
				<li class="admin"><a href="${site_information.url}/admin/feed/acceptall?feed=$feed.id">Accept all</a></li>
			#end
		</ul>
		
		#if ($feed.lastRead)
			<p>This feed was last read $dateFormatter.timeSince($feed.lastRead)</p>
		#end
		
		#if($feed.isScreenScraped()) 
			#if($feed.publisher) 
				<p>This feed is produced by screen scraping a page from the <a href="$feed.publisher.url">$feed.publisher.name</a> site.</p>
			#else		
				<p>This feed is provided by screen scraping a third parties site.</p>
			#end		
		#else
		
			#if($feed.publisher) 
				<p>This feed is published by: <a href="$urlBuilder.getPublisherUrl($feed.publisher)">$feed.publisher.name</a>.</p>
			#else
				<p>This feed is provided by a third party.</p>
			#end
		#end
		
		<p>To subscribe to this feed, enter the following location into your feed reader.</p>
		<ul>
			<li>#parse("includes/rss_icon.vm") <code>$rss_url</code></li>
		</ul>
					
		#if ($main_content) 
			<p>This feed currently contains the following newsitems:</p>
			
			#if($geocoded)
				<div id="map_canvas" style="width: 520px; height: 520px"></div>
				#parse("includes/geocodedjs.vm")
			#end
			
			#parse("includes/main_content.vm")
						
		#else 
			<p>There was a problem loading this feed. No newsitems could be displayed.</p>
		#end
	</div>

	<div class="right">

		<div class="box">
			#parse("includes/righthand_content.vm")
		</div>
	</div>
</div>

#parse("includes/footer.vm")