#if ($latest_newsitems && $latest_newsitems.size() > 0)
	<div class="box">
		<h2>Wellington Scoop Interviews</h2>
		<p><a href="http://wellington.scoop.co.nz">Wellington Scoop</a>'s candidate interview videos:</p>
		#set ($righthand_content_one = $columnSplitter.left($latest_newsitems))
		#set ($righthand_content_two = $columnSplitter.right($latest_newsitems))
		#set ($righthand_content_moreurl = "")
		#parse("includes/righthand_two_columns.vm")
	</div>
#end
