<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="simplePageController" class="nz.co.searchwellington.controllers.SimplePageController">	
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="configDAO" />
		<constructor-arg ref="siteInformation" />
		<constructor-arg ref="rssUrlBuilder" />
		<constructor-arg ref="cachingTwitterService" />
		<constructor-arg ref="discoveredFeedRespository" />
		<constructor-arg ref="loggedInUserFilter" />
										
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>														
						<prop key="/about">about</prop>
						<prop key="/api">api</prop>
						<prop key="/broken">broken</prop>						
						<prop key="/archive">archive</prop>
						<prop key="/calendars">calendars</prop>
						<prop key="/feeds/discovered">discovered</prop>
						<prop key="/lastupdated">lastUpdated</prop>
						<prop key="/publishers">publishers</prop>
						<prop key="/tags">tags</prop>
						<prop key="/twitter">twitter</prop>
						<prop key="/watchlist">watchlist</prop>						
					</props>
				</property>
			</bean>		
		</property>
	</bean>
			
	<bean id="loginResourceOwnershipService" class="nz.co.searchwellington.openid.LoginResourceOwnershipService">
		<constructor-arg ref="resourceDAO" />
		<constructor-arg ref="requestFilter" />
	</bean>
		
	<bean id="openIDLoginController" class="nz.co.searchwellington.openid.OpenIDLoginController">
		<constructor-arg ref="urlBuilder" />
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="userDAO" />
		<constructor-arg ref="loginResourceOwnershipService" />
				
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>														
						<prop key="/openid/login">login</prop>
						<prop key="/openid/callback">callback</prop>						
					</props>
				</property>
			</bean>		
		</property>					
	</bean>
	
	
	<bean id="tagInformationService" class="nz.co.searchwellington.tagging.TagInformationService" />
		
	<bean id="indexController" class="nz.co.searchwellington.controllers.IndexController">		
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="configDAO" />			
		<constructor-arg ref="eventsDAO" />
		<constructor-arg ref="siteInformation" />
		<constructor-arg ref="rssUrlBuilder" />
		<constructor-arg ref="loggedInUserFilter" />
		<constructor-arg ref="urlBuilder" />
		<constructor-arg ref="requestFilter" />
		<constructor-arg ref="tagInformationService" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>														
						<prop key="/index">index</prop>						
					</props>
				</property>
			</bean>		
		</property>	
	</bean>


	<bean id="browseController" class="nz.co.searchwellington.controllers.BrowseController">
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="requestFilter" />		
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="configDAO" />		
		<constructor-arg ref="loggedInUserFilter" />
		<constructor-arg ref="urlBuilder" />
			
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>														
						<prop key="/archive/*/*">archive</prop>
						<prop key="/browse">publisherContent</prop>
						<prop key="/*/calendars">publisherCalendars</prop>
						<prop key="/*/feeds">publisherFeeds</prop>				
						<prop key="/*/watchlist">publisherWatchlist</prop>
					</props>
				</property>
			</bean>		
		</property>		
	</bean>
	
	
	
	<bean id="clickThroughController" class="nz.co.searchwellington.controllers.ClickThroughController">
		<constructor-arg ref="siteInformation" />
		<constructor-arg ref="requestFilter" />
	</bean>
	
	
		
	<bean id="loginController" class="nz.co.searchwellington.controllers.LoginController">	
		<constructor-arg ref="urlStack" />	
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>					
						<prop key="/login/logout">logout</prop>
						<prop key="/login/prompt">prompt</prop>									
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	
	

	<bean id="supressionController" class="nz.co.searchwellington.controllers.admin.SupressionController">	
		<constructor-arg ref="supressionDAO" />
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="suggestionDAO" />
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/supress/supress">supress</prop>
						<prop key="/supress/unsupress">unsupress</prop>
					</props>
				</property>
			</bean>		
		</property>
	</bean>

	
	
	
	
	
	<bean id="rssfeedsController" class="nz.co.searchwellington.controllers.RssfeedsController">
		<constructor-arg ref="resourceDAO" />
		<constructor-arg ref="publisherSelectFactory" />
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="configDAO" />
		<constructor-arg ref="tagWidgetFactory"/>	
		<constructor-arg ref="rssUrlBuilder" />
		<constructor-arg ref="discoveredFeedRespository" />
		<constructor-arg ref="loggedInUserFilter" />
		<constructor-arg ref="suggestionDAO" />
				
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>														
						<prop key="/feeds">rssfeeds</prop>						
						<prop key="/feeds/**">rssfeeds</prop>					
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	
	
	
	
	
	<bean id="indexRebuildController" class="nz.co.searchwellington.controllers.admin.IndexRebuildController">
		<constructor-arg ref="solrIndexRebuildService" />
		<constructor-arg ref="cachingTwitterService" />
		<constructor-arg ref="resourceDAO" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>														
						<prop key="/admin/indexbuilder">build</prop>
						<prop key="/admin/refreshtweets">refreshTweets</prop>						
					</props>
				</property>
			</bean>		
		</property>	
	</bean>
			
	<bean id="apiKeyAuthenticator" class="nz.co.searchwellington.controllers.api.ApiKeyAuthenticator" />

	<bean id="apiTagUrlController" class="nz.co.searchwellington.controllers.api.TagUrlController">
		<constructor-arg ref="resourceDAO" />
		<constructor-arg ref="adminRequestFilter" />
		<constructor-arg ref="apiKeyAuthenticator" />
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>														
						<prop key="/api/tag">tag</prop>
					</props>
				</property>
			</bean>		
		</property>	
	</bean>		
		


	<bean id="linkCheckerController" class="nz.co.searchwellington.controllers.admin.LinkCheckerController">
		<constructor-arg ref="adminRequestFilter" />		
		<constructor-arg ref="linkCheckerQueue" />
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="resourceDAO" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/admin/linkchecker/status">showStatus</prop>
						<prop key="/admin/linkchecker/add">addToQueue</prop>								
					</props>
				</property>
			</bean>		
		</property>
	</bean>

	<bean id="searchController" class="nz.co.searchwellington.controllers.SearchController">
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="requestFilter" />
		<constructor-arg ref="configDAO" />
		<constructor-arg ref="loggedInUserFilter" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>					
						<prop key="/search">search</prop>								
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	
	
	
	
	
	
	
	<bean id="cancelController" class="nz.co.searchwellington.controllers.CancelController">
		<constructor-arg ref="urlStack" />
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>														
						<prop key="/cancel">cancel</prop>					
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	
	
	
	

	<bean id="viewfeedController" class="nz.co.searchwellington.controllers.admin.AdminFeedController">
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="adminRequestFilter" />
		<constructor-arg ref="loggedInUserFilter" />	
		<constructor-arg ref="supressionDAO" />
		<constructor-arg ref="configDAO" />	
		<constructor-arg ref="feedReader" />
		<constructor-arg ref="rssPrefetcher" />
		<constructor-arg ref="urlBuilder" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/admin/feed/decache">decachefeed</prop>
						<prop key="/admin/feed/read">readfeed</prop>						
					</props>
				</property>
			</bean>		
		</property>
	</bean>
			
			
	<bean id="viewCalendarController" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="viewCalendarControllerTarget" />
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
		</property>	
	</bean>
	
	
	
	<bean id="viewCalendarControllerTarget" class="nz.co.searchwellington.controllers.ViewCalendarController">
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="requestFilter" />	
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="configDAO" />
		<constructor-arg ref="calendarFeedDAO" />
		<constructor-arg ref="eventsDAO" />
		<constructor-arg ref="loggedInUserFilter" />
		
	
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>									
						<prop key="/viewcalendar/">viewcalendar</prop>
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	
	
	
	
	
	
	
	
			
		
	<bean id="publishersAjaxController" class="nz.co.searchwellington.controllers.ajax.PublisherAjaxController">
		<constructor-arg ref="resourceDAO" />	
	</bean>
	
	
	
	
	<import resource="modelbuilders.xml"/>

	<bean id="jsonController" class="nz.co.searchwellington.controllers.JSONController">
		<constructor-arg ref="requestFilter" />
		<constructor-arg ref="contentModelBuilder" />		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/*/json">contentJSON</prop>
						<prop key="/*/*/json">contentJSON</prop>																	
					</props>
				</property>
			</bean>
		</property>		
	</bean>
		
	<bean id="rssController" class="nz.co.searchwellington.controllers.RssController">
		<constructor-arg ref="siteInformation" />
		<constructor-arg ref="requestFilter" />
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="rssUrlBuilder" />		
		<constructor-arg ref="contentModelBuilder" />
		<constructor-arg ref="suggestionDAO" />
		<constructor-arg ref="urlBuilder" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/rss">mainRss</prop>
						<prop key="/watchlist/rss">watchlistRss</prop>
						<prop key="/*/rss">contentRss</prop>						
						<prop key="/*/*/rss">contentRss</prop>																
					</props>
				</property>
			</bean>		
		</property>		
	</bean>
	
	
	<bean id="tagController" class="nz.co.searchwellington.controllers.TagController">
		<constructor-arg ref="resourceDAO" />
		<constructor-arg ref="loggedInUserFilter" />
		<constructor-arg ref="urlStack" />		
		<constructor-arg ref="contentModelBuilder" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/*">normal</prop>						
						<prop key="/*/comment">normal</prop>
						<prop key="/*/geotagged">normal</prop>
						<prop key="/feed/*">normal</prop>
						<prop key="/feeds/inbox">normal</prop>											
					</props>
				</property>
			</bean>		
		</property>		
	</bean>
	
	
	
	
	
	<bean id="editController" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
	<property name="transactionManager" ref="transactionManager" />
	<property name="target" ref="editControllerTarget" />
	<property name="transactionAttributeSource">
		<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
	</property>	
	</bean>
	
	<bean id="editControllerTarget" class="nz.co.searchwellington.controllers.ResourceEditController">
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="cachingRssfeedNewsitemService" />
		<constructor-arg ref="adminRequestFilter" />	
		<constructor-arg ref="linkCheckerQueue" />		
		<constructor-arg ref="tagWidgetFactory" />
		<constructor-arg ref="publisherSelectFactory" />
		<constructor-arg ref="supressionDAO" />
		<constructor-arg ref="notifier" />
		<constructor-arg ref="autoTaggingService" />
		<constructor-arg ref="acceptanceWidgetFactory" />
		<constructor-arg ref="geocodingService" />
		<constructor-arg ref="urlCleaner" />
		<constructor-arg ref="rssPrefetcher" />
		<constructor-arg ref="loggedInUserFilter" />
		<constructor-arg ref="editPermissionService" />
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="twitterNewsitemBuilderService" />
		<constructor-arg ref="suggestionDAO" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/edit/edit">edit</prop>
						<prop key="/edit/save">save</prop>
						<prop key="/edit/delete">delete</prop>
						<prop key="/edit/deleteandsupress">deleteAndSupress</prop>
						
						<prop key="/edit/submit/calendar">submitCalendar</prop>
						<prop key="/edit/submit/feed">submitFeed</prop>
						<prop key="/edit/submit/newsitem">submitNewsitem</prop>
						<prop key="/edit/submit/watchlist">submitWatchlist</prop>
						<prop key="/edit/submit/website">submitWebsite</prop>
						
						<prop key="/edit/accept">accept</prop>
						<prop key="/edit/acceptfast">acceptFastByUrl</prop>						
						<prop key="/edit/twitteraccept">twitteraccept</prop>	
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	
	
	<bean id="publicTaggingController" class="nz.co.searchwellington.controllers.PublicTaggingController">
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="requestFilter" />		
		<constructor-arg ref="tagWidgetFactory" />
		<constructor-arg ref="notifier" />
		<constructor-arg ref="loggedInUserFilter" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/tagging/tag">edit</prop>
						<prop key="/tagging/save">save</prop>						
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	
	
	
	
	<bean id="tagEditController" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="tagEditControllerTarget" />
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
		</property>	
	</bean>
	
	
	<bean id="tagEditControllerTarget" class="nz.co.searchwellington.controllers.admin.TagEditController">
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="adminRequestFilter" />
		<constructor-arg ref="tagWidgetFactory" />
		<constructor-arg ref="urlStack" />
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/edit/tag/submit">submit</prop>
						<prop key="/edit/tag/save">save</prop>												
						<prop key="/edit/tag/*">edit</prop>
						<prop key="/edit/tag/delete">delete</prop>
					</props>
				</property>
			</bean>
		</property>
	</bean>
	
	
	
	
	
	
	<bean id="profileEditController" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="profileEditControllerTarget" />
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
		</property>	
	</bean>
	
	
	<bean id="profileEditControllerTarget" class="nz.co.searchwellington.controllers.profiles.ProfileEditController">
		<constructor-arg ref="userDAO" />		
		<constructor-arg ref="loggedInUserFilter" />
		<constructor-arg ref="resourceDAO" />
		<constructor-arg ref="urlBuilder" />
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>
						<prop key="/profile">profile</prop>							
						<prop key="/profile/edit">edit</prop>
						<prop key="/profile/save">save</prop>
						<prop key="/profile/*">view</prop>
					</props>
				</property>
			</bean>
		</property>
	</bean>
	
	
	
	<bean id="autoGatherController" class="nz.co.searchwellington.controllers.admin.PublisherAutoGatherController">
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="adminRequestFilter" />	
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="impliedTagService" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>																
						<prop key="/admin/gather">prompt</prop>
						<prop key="/admin/gather/apply">apply</prop>
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	

	
	<bean id="autoTagController" class="nz.co.searchwellington.controllers.admin.AutoTagController">
		<constructor-arg ref="resourceDAO" />		
		<constructor-arg ref="adminRequestFilter" />	
		<constructor-arg ref="urlStack" />
		<constructor-arg ref="impliedTagService" />
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>																
						<prop key="/autotag">prompt</prop>
						<prop key="/autotag/apply">apply</prop>
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	
	
	
	<bean id="configEditController" class="nz.co.searchwellington.controllers.admin.ConfigEditController">
		<constructor-arg ref="configDAO" />	
		
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>														
						<prop key="/admin/config/edit">edit</prop>
						<prop key="/admin/config/save">save</prop>
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	
	
	
	
	
	<bean id="sitemapController" class="nz.co.searchwellington.controllers.SitemapController">
		<constructor-arg ref="resourceDAO" />
		<constructor-arg ref="siteInformation" />
		<constructor-arg ref="sitemapService" />
				
		<property name="methodNameResolver">
			<bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
				<property name="mappings">
					<props>														
						<prop key="/sitemap.xml">sitemap</prop>					
					</props>
				</property>
			</bean>		
		</property>
	</bean>
	
	
	
	
	

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
            	<prop key="/api/tag">apiTagUrlController</prop>
            	            	
            	<prop key="/about">simplePageController</prop>
				<prop key="/api">simplePageController</prop>
            	<prop key="/archive">simplePageController</prop>
            	<prop key="/broken">simplePageController</prop>
            	<prop key="/calendars">simplePageController</prop>            	
           		<prop key="/feeds/discovered">simplePageController</prop>           	
				<prop key="/lastupdated">simplePageController</prop>
									
				<prop key="/profile/edit">profileEditController</prop>
				<prop key="/profile/save">profileEditController</prop>
				<prop key="/profile/*">profileEditController</prop>
				<prop key="/profile">profileEditController</prop>
																
				<prop key="/publishers">simplePageController</prop>
				<prop key="/tags">simplePageController</prop>
				<prop key="/twitter">simplePageController</prop>				
				<prop key="/watchlist">simplePageController</prop>
				            	
            	<prop key="/archive/**">browseController</prop>            	
            	<prop key="/browse">browseController</prop>
            	<prop key="/*/calendars">browseController</prop>
            	<prop key="/*/feeds">browseController</prop>            	
            	<prop key="/*/watchlist">browseController</prop>
            	
            	<prop key="/clickthrough">clickThroughController</prop>
            	<prop key="/annoyingclickcountingthingamajig">clickThroughController</prop>
            	<prop key="/ajax/publishers">publishersAjaxController</prop>
            	            	
            	<prop key="/index">indexController</prop>				
				
				<prop key="/rss">rssController</prop>
				<prop key="/*/rss">rssController</prop>
				<prop key="/*/*/rss">rssController</prop>
				<prop key="/feeds/inbox/rss">rssController</prop>
																	
				<prop key="*/json">jsonController</prop>
				<prop key="/*/*/json">jsonController</prop>
								
				
				<prop key="/feeds/**">rssfeedsController</prop>
				
				<prop key="/search">searchController</prop>
				
				<prop key="/viewcalendar">viewCalendarController</prop>
								
				<prop key="/admin/feed/decache">viewfeedController</prop>	
				<prop key="/admin/feed/read">viewfeedController</prop>
				
				<prop key="/edit/edit">editController</prop>
				<prop key="/edit/delete">editController</prop>
				<prop key="/edit/deleteandsupress">editController</prop>				
				<prop key="/edit/save">editController</prop>

				<prop key="/edit/submit/calendar">editController</prop>			
				<prop key="/edit/submit/feed">editController</prop>				
				<prop key="/edit/submit/newsitem">editController</prop>
				<prop key="/edit/submit/watchlist">editController</prop>
				<prop key="/edit/submit/website">editController</prop>
				<prop key="/edit/accept">editController</prop>
				<prop key="/edit/acceptfast">editController</prop>
				<prop key="/edit/twitteraccept">editController</prop>
				
				<prop key="/tagging/tag">publicTaggingController</prop>
				<prop key="/tagging/save">publicTaggingController</prop>
				
				<prop key="/edit/tag/submit">tagEditController</prop>
				<prop key="/edit/tag/save">tagEditController</prop>
				<prop key="/edit/tag/*">tagEditController</prop>
				<prop key="/edit/tag/delete">tagEditController</prop>
							
				<prop key="/autotag">autoTagController</prop>
				<prop key="/autotag/apply">autoTagController</prop>
				
				<prop key="/admin/gather">autoGatherController</prop>
				<prop key="/admin/gather/apply">autoGatherController</prop>		
				
				<prop key="/cancel">cancelController</prop>
				<prop key="/login/logout">loginController</prop>	
				<prop key="/login/prompt">loginController</prop>
								
				<prop key="/openid/auth">loginController</prop>
				<prop key="/openid/verify">loginController</prop>
													
				<prop key="/admin/indexbuilder">indexRebuildController</prop>
				<prop key="/admin/refreshtweets">indexRebuildController</prop>
								
				<prop key="/admin/linkchecker/*">linkCheckerController</prop>
				<prop key="/admin/config/edit">configEditController</prop>
				<prop key="/admin/config/save">configEditController</prop>
				
				<prop key="/sitemap.xml">sitemapController</prop>
				
				<prop key="/supress/*">supressionController</prop>
								
				<prop key="/*+*">tagController</prop>
          		<prop key="/*%2B*">tagController</prop>				
				<prop key="/*/comment">tagController</prop>
				<prop key="/*/geotagged">tagController</prop>				
				<prop key="/feed/*">tagController</prop>
								
				<prop key="/feeds/inbox">tagController</prop>
				
				<prop key="/*">tagController</prop>
				<prop key="/comment">tagController</prop>
				<prop key="/geotagged">tagController</prop>            	
            	<prop key="/justin">tagController</prop>				
					
				<prop key="/openid/login">openIDLoginController</prop>	
				<prop key="/openid/callback">openIDLoginController</prop>
									
            </props>
        </property>
    </bean>
    
    
</beans>