<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd
	">
	
	<util:properties id="config" location="classpath:searchwellington.properties" />
		
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:searchwellington.properties</value>
		</property>
	</bean>
	
	<import resource="database.xml" />	
	<import resource="commentfeeds.xml" />	
						
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
	
	<bean class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
	  	<property name="transactionInterceptor" ref="txInterceptor"/>
	</bean>

	<bean id="txInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager"/>
	 	<property name="transactionAttributeSource">
   			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
  		</property>
	</bean>
	
	<bean id="solrServer" class="org.apache.solr.client.solrj.impl.CommonsHttpSolrServer">
		<constructor-arg value="${solr.url}" />
	</bean>
		
	<bean id="publisherNewsitemCountService" class="nz.co.searchwellington.controllers.PublisherNewsitemCountService" scope="request">
		<aop:scoped-proxy/>
		<constructor-arg ref="loggedInUserFilter" />
		<constructor-arg ref="solrQueryService" />
	</bean>
		
	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
  		<property name="velocityProperties">
    		<props>
     			<prop key="output.encoding">UTF-8</prop>   
        		<prop key="input.encoding">UTF-8</prop>      
	    	</props>
	  	</property>
  		<property name="resourceLoaderPath" value="/WEB-INF/velocity"/>
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="cache" value="true" />
		<property name="prefix" value="" />
		<property name="suffix" value=".vm" />
		<property name="contentType">
			<value>text/html;charset=UTF-8</value>
		</property>
		<property name="toolboxConfigLocation" value="/WEB-INF/velocity/toolbox.xml" />
		<property name="attributesMap">
			<map>				
			</map>
		</property>
	</bean>
			
</beans>